body {
	&.page-agegate {
		background-color: $yellow;
		// Main Age wrapper 
		#age_checker {
			// background-position: center bottom;			
			background-repeat: no-repeat;
			background-size: cover;
			padding: rem(23px) 0 0;
			text-align: center;

			@include mq('hd') {
				background-position: 0 rem(-127px);
			}

			#age_checker_error_message {
				color: $salmon;
			}
			
			@include mq('sm') {				
				min-height: rem(764px);
				padding: rem(63px) 0 0;
			}

			@include mq('mf'){
				background-position: 5%;
			}
			// @include mq('mf') {	
			// 	background-image: url('../images/bgs/agegate/age_bg_mobile.jpg') !important;
			// 	background-position: center 30px;
			// 	background-size: contain;
			// }

			// @include mq('tbp') {
			// 	background-position: center -255px;
			// }

			// Brand
			.logo {
				text-align: center;
				margin: 0 auto rem(20px);
				width: 100%;
				@include mq('md') {
					// width: 50%;
					// display: inline-block;
					text-align: left;
					vertical-align: top;
					max-width: rem(1280px);
					margin: 0 auto rem(20px);
					padding: 0 0 0 0;
				}
				&:after{
					content: '';
					background: url('../images/newlogo.png') no-repeat 0 0;
					background-size: contain;
					height: 96px;
					width: 165;
					max-width: inherit;
					display: block;
				}
				img {
					// display: inline-block;
					max-width: 35%;
					height: auto;
					display: none;
					@include mq('md') {
						max-width: 182px;
					}
				}
			}

			// Content 
			.agegate-container {
				padding: rem(22px) rem(10px) rem(238px);
				@include mq('tb') {
					margin: rem(20px) auto;
					max-width: rem(500px);
				}
				@include mq('md') {
					padding: 0 rem(20px) rem(38px);
					width: 49%;
					// display: inline-block;
					vertical-align: top;
					max-width: rem(700px);
					max-height: auto;
					max-height: inherit;
					margin: 0 auto rem(20px);
				}

				.agegate_content {
					padding: rem(36px) rem(20px);
					position: relative;
					text-align: center;
					background: $blue-light;
					color: $white;
					text-align: center;
					border-radius: rem(36px);
					position: relative;
					&::after,
					&::before{
						content: '';
						width: 123px;
						height: 123px;
						background: url('../images/misc/yellow-shape.png') no-repeat;
						background-size: contain;
						position: absolute;
						left: -7px;
						top: 66%;
						@include mq('md'){
							left: -56px;
							top: 77%
						}
					}
					&::after{
						background: url('../images/misc/green-shape.png') no-repeat;
						background-size: contain;
						width: 99px;
						height: 111px;
						left: inherit;
						top: 8%;
						right: -14px;
						@include mq('md'){
							top: 3%;
							right: -49px;
						}
					}
					@include mq('md') {
						// background-color: $op_blue;
						padding: rem(56px) rem(70px) rem(41px);
					}
					#age_checker_header_message{
						padding: 0;
					}
					.agegate-title-1 {
						text-align: center;
						color: $white;
						font-family: $bd;
						line-height: 1;
						@include font(23px);
					}
					
					.agegate-title-2 {
						font-family: $md;
						margin: rem(12px) 0;
						@include font(14px);
						letter-spacing: .7px;
						@include mq('md'){
							padding: 0 rem(30px);	
						}
					}

					#age_checker_widget {
						form {
							&#sabm-age-gate-form {
								text-align: center;
								// Field schemma
								.form-item {
									border-radius: rem(12px);
									&-list-of-countries {
										padding: rem(12px) 0;
										@include font(16px);
										margin-bottom: rem(14px) !important;
										position: relative;
										@include mq('md'){
											margin-bottom: rem(35px) !important;
										}
										select {
											display: block;
											width: 100%;
											padding: rem(15px);											
											border-radius: rem(12px);
											font-size: rem(18px);
											color: $blue20;
											background-color: $white;
											background-image: url('../images/icons/caret-down-blue.png');
											background-size: 19px;
											background-repeat: no-repeat;
											background-position: 95% center;
											font-family: $md;
											letter-spacing: .7px;
										}
									}
									// Date
									&-day,
									&-month,
									&-year {
										display: inline-block;
										vertical-align: top;
										margin-bottom: rem(10px) !important;
										@include mq('md') {
											margin-bottom: rem(15px) !important;
										}
										input {
											padding: rem(12px);
											font-family: $md;
											color: $blue20;
											border-radius: rem(5px);
											background-color: $white;
											display: block;
											line-height: normal;
											width: 100%;
											@include font(16px);
											@include placeholder {
												color: $blue20;
												line-height: normal;
											}
											@include mq('md') {
												padding: rem(14px) rem(14px);
												@include font(22px);
											}
											@include mq('tb') {
												@include font(34px);
											}
										}
									}

									&-day {
										width: 27.4%;
										@include mq('md') {
											width: 24.4%;
										}
									}

									&-month {
										width: 27.4%;										
										margin: 0 rem(17px) rem(20px);
										@include mq('md') {
											width: 24.4%;
											margin: 0 rem(28px) rem(30px);
										}
									}

									&-year {
										width: 27.4%;
										@include mq('md') {
											width: 24.4%;
										}
									}

									// Accept checkbox
									&-remember-me {
										text-align: center;
										margin-bottom: rem(24px) !important;
										line-height: 1.3;
										position: relative;
										@include mq('md'){
											margin: rem(28px) 0 !important;
										}
										label{
											font-size: 18px;
										}
										input {
											position: absolute;
											opacity: 0;
										}
										span {
											font-size: 14px;
											font-family: $md;
											letter-spacing: .5px;
										}
										strong{
											position: relative;
											font-family: $md;
											letter-spacing: .5px;
											font-weight: normal;
											&::before{
												content: '';
												position: absolute;
												width: 26px;
												height: 26px;
												border: 1px solid $white;
												border-radius: 50%;
												left: -31px;
											}
											&::after{
												content: '';
												display: none;
												position: absolute;
												width: 14px;
												height: 14px;
												left: -25px;
												top: 28%;
												background: $white;
												border-radius: 50%;
											}
										}
										input:checked + strong:after{
											display: block;
										}
									}
								}

								// CTAS
								#edit-submit {
									display: block;
									@include whiteBtn(15px);
									background: transparent;
									border: 1px solid $blue20;
									letter-spacing: 2px;
									padding: 14px 42px;
									&:hover{
										color: $white;
									}
									@include mq('md') {
										display: inline-block;
										vertical-align: middle;
									}
									@include mq('tb') {
										margin: rem(10px) auto;
										display: block;
									}
								}

								.connector {
									display: block;
									@include font(20px);
									color: $white;
									margin: rem(16px) auto;
									font-family: $md;
									
									@include mq('md') {
										display: inline-block;
										vertical-align: middle;
										margin: 0 rem(26px);
										@include font(20px);
									}
									@include mq('tb') {
										margin: rem(10px) auto;
										display: block;
									}
								}

								.age_checker_facebook_validate {
									display: block;
									position: relative;
									@include mq('md') {
										display: inline-block;
										vertical-align: middle;
									}
									@include mq('tb') {
										margin: rem(10px) auto;
										display: block;
									}
									// .fb_iframe_widget
									[size~="medium"] {
										color: $white;
										@include coverAbsolute(2);
										opacity: 0.02;
										color: transparent;
									}
									.fbTrigger {
										@include whiteBtn(18px);
										color: $white;
										background: $blue-facebtn;
										border-radius: 10px;
										box-shadow: 0 3px 6px rgba($black, 0.2);
										text-transform: capitalize;
									}
								}
							}
						}
					}

					#age_checker_footer_message {
						display: none;
					}
				}
			}
		}
	}
}