body {
	&.custom-flying-fish-contact-us {
		background: linear-gradient(#0c7ad1,#9be5f5);
		
		form {
			&.webform-client-form {
				padding: 0 rem(40px);
				display: block;
				margin: 0 auto;

				@media (max-width: 768px) {
					padding: 0 2.6rem;
				}

				@include mq('md') {
					width: 100%;
					margin-left: 8.5em;
				}

				p {
					text-align: center;
					line-height: 0.6;

					@media (max-width: 768px) {
						line-height: 1.0;
					}
				}

				> div {
					@include mq('md') {
						overflow: hidden;
					}
				}

				&#webform-client-form-6 {
					background: #FFEE00 0% 0% no-repeat padding-box;
					border-radius: 38px;
					padding-bottom: 30px !important;
					padding-top: 30px;
					opacity: 1;
					margin: 0 33%;
					margin-top: 230px;

					@media (max-width: 768px) {
						margin-top: 140px !important;
					}

					.star-one {
						position: absolute;
						left: 110px;

						@media (max-width: 768px) {
							left: 136px;
							top: 270vw;
						}
					}

					.star-two {
						position: absolute;
						top: 46vw;
						left: 255px;

						@media (max-width: 768px) {
							top: 275vw;
							left: 263px;
							z-index: 1;
						}
					}
					
					.star-three {
						position: absolute;
						right: 116px;
						top: 22vw;
						z-index: 1;
					}

					@media (min-width: 768px) {
						width: 649px;
						margin-bottom: 100px;
					}

					@media (max-width: 768px) {
						margin: 0 5%;
						margin-bottom: 80px !important;
					}

					.webform-component--email {
						@media (max-width: 768px) {
							margin-bottom: 21px;
						}
					}

					.condition-submit-section {
						color: #00468B;

						@media (min-width: 768px) {
							display: flex;
							display: inline-flex;
						}
						
						.sumbit-section {
							margin-top: 17px;

							button {
								background: none;
								width: 154px;
								height: 45px;
								border: 1px solid #00468B;
								border-radius: 100px;
								opacity: 1;
								font-weight: bold;
								font-size: 18px;
							}
						}
					}

					input {
						width: 255px !important;
						height: 40px;
						background: #fff;
						border-radius: 5px;
						opacity: 1;
						border: none;
					}

					.food-before-form-yum {
						position: absolute;
						left: 18%;
						top: 17%;

						@media (max-width: 768px) {
							display: none;
						}
					}

					.food-before-form {
						position: absolute;
						left: 1%;
						top: 42%;

						@media (max-width: 768px) {
							top: 260vw;
						}

						img {
							@media (max-width: 768px) {
								left: -35px;
								width: 140px;
							}
						}
					}

					.food-after-form-yum {
						position: absolute;
						left: 75%;
						top: 50%;

						@media (max-width: 768px) {
							display: none;
						}
					}

					.food-before-form-refreshing {
						position: absolute;
						left: 8%;
						top: 37%;

						@media (max-width: 768px) {
							display: none;
						}

						img {
							width: 180px;
						}
					}
					.food-after-form-unique {
						position: absolute;
						left: 78%;
						top: 26%;

						@media (max-width: 768px) {
							display: none;
						}

						img {
							width: 240px;
						}
					}

					.food-after-form {
						position: absolute;
						left: 83%;
						top: 7%;
						@media (max-width: 768px) {
							left: 81%;
							top: -19vw;
						}

						img { 
							@media (max-width: 768px) {
								width: 110px;
								margin-top: 980px;
								margin-left: -42px;
							}
						}
					}

					.col-md-6 {
						&.your-message {
							@media (min-width: 768px) {
								max-width: 100%;
								flex: auto;
							}
						}
					}

					.form-header {
						color: #002F87;
						text-align: center;
						margin-bottom: 30px;

						@media (max-width: 768px) {
							margin-left: -3%;
						}

						@media (min-width: 768px) {
							margin: 0 20%;
						}

						.col-md-6 {
							max-width: 100%;
						}

						.webform-component--contact-us-title {
							margin-bottom: 20px;
							
							p {
								font-size: 35px;
								font-weight: bold;
								line-height: initial;
							}
						}
					}

					.col {
						&.mt-4 {
							display: inline-flex;
							display: flex;

							label {
    							margin-left: 10px;
							}

							input {
								width: 35px !important;
							}
						}
					}

					.row {
						&.mt-2 {
							.col {
								display: inline-flex;
								display: flex;

								label {
									margin-left: 10px;
								}
							}
							
							input {
								width: 35px !important;
							}
						}
					}
				}

				.webform-component {
					&-textfield {
						width: 100%;
						display: block;
						margin-bottom: 1.4em;
						position: relative;
						@include mq('md') {
							width: 50%;
							float: left;
						}
						label.error{
							position: absolute;
							right: 0;
							font-size: 14px;
							font-family: inherit;
							color: $white;
							font-weight: inherit;
						}
						input{
							font-family: $md;
							letter-spacing: .5px;
							font-size: rem(25px);
							color: $blue20;
							@include placeholder {
								color: $blue20;
								line-height: normal;
							}
							@include mq('md') {
								max-width: rem(284px);
								font-size: rem(17px);
							}
							&.error {
								color: $salmon;
								border-color: red;
							}
						}
					}

					&--name {
						
						@include mq('md') {
							padding-right: rem(15px);
							max-width: 255px;
							label.error{
								right: 5%;
							}
						}
					}

					&--surname {
						@include mq('md') {
							max-width: 255px;
						}
					}

					&-textarea {
						position: relative;
						clear: both;
						label.error{
							position: absolute;
							right: 0;
							font-size: 14px;
							font-family: inherit;
							color: $white;
							font-weight: inherit;
						}
						.form-textarea-wrapper {
							width: 100%;
							.grippie {
								display: none;
							}
							textarea {
								height: rem(114px);
								resize: none;
								font-family: $md;
								letter-spacing: .5px;
								font-size: rem(17px);
								border: none;
								border-radius: 6px;

								@include placeholder {
									color: $gray-hold;
									line-height: normal;
								}

								@include mq('md') {
									height: rem(200px);
								}
							}
						}
					}

					&--contact-info {
						padding: rem(16px) 0;
						font-size: rem(14px);
						font-family: $md;
						letter-spacing: .5px;
						strong{
							font-family: $md;
							font-weight: normal;
						}
						@include mq('md') {
							padding: inherit;
							// width: 50%;
							// float: left;
							clear: none;
						}

						p {
							text-align: left;
						}
						a {
							color: $white;
							text-decoration: underline;
						}
					}
				}

				.form-actions {
					// text-align: right;
					@include mq('md') {
						width: 50%;
						float: left;
						clear: none;
					}

					button {
						&.webform-submit {
							&.form-submit {
								// @include marineBtn(15px);
								@include whiteBtn(15px);
								text-align: center;
								background: transparent;
								border: 1px solid $blue20;
								letter-spacing: 2px;
								padding: 14px 42px;
								color: $blue20;
								&:hover{
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
}