body {
	&.custom-flying-fish-register-events, &.snick {
		form {
			&.webform-client-form {
				padding: rem(30px) rem(20px);
				display: block;				
				max-width: rem(630px);
				margin: rem(140px) auto rem(370px);
				background: $yellow20;
				border-radius: 20px;
				width: 91%;
				position: relative;
				@include mq('md') {
					// width: 100%;
					text-align: center;
					margin: rem(160px) auto rem(91px);
					margin-left: rem(180px);
				}
				&::after{
					content: '';
					position: absolute;
					left: 0;
					// bottom: 0;
					width: 110%;
					margin: 0 -5%;
					height: 469px;
					background: url('../images/misc/img-form-mobile.png') no-repeat;
					background-size: 135%;
    				background-position: -80px top;
					@include mq('md'){
						width: 770px;
						height: 690px;
						background: url('../images/misc/img-form-desktop.png') no-repeat;
						background-size: contain;
						left: inherit;
						right: -102%;
						top: 10%;
					}
				}

				h2 {
					display: block;
					border: none;
					text-align: center;
					text-transform: uppercase;
					font-family: $bd;
					line-height: 1;
					text-align: center;
					color: $blue20;
					@include font(28px);
					@include mq('md') {
						@include font(35px);
						margin-bottom: 2rem;
					}
				}

				p {
					text-align: center;
					font-size: rem(16px);
					font-family: $md;
					letter-spacing: .6px;
					color: $blue20;
					line-height: 1.2;
					@include mq('md'){
						margin-bottom: 2rem;
						font-size: rem(18px);
					}
				}

				> div {
					@include mq('md') {
						overflow: hidden;
					}
				}
				.webform-calendar{
					display: none;
				}

				.webform-component {
					&-email,
					&-textfield {
						width: 100%;
						display: block;
						margin-bottom: rem(21px);
						position: relative;
						// @include mq('md') {
						// 	margin-bottom: rem(27px);
						// 	width: 50%;
						// 	float: left;
						// }
						label.error{
							position: absolute;
							right: 0;
							font-size: 14px;
						}
						input {
							background: $white;
							border-radius: 5px;
							border: none;
							color: $blue20;
							font-family: $md;
							letter-spacing: .5px;
							font-size: 18px;
							@include placeholder {
								color: $blue20;
								line-height: normal;
							}
							// border: rem(1px) solid $gray-border;
							// color: $gray-input;
							@include mq('md') {
								max-width: rem(284px);
							}
							&.error {
								color: $salmon;
								border-color: red;
							}
						}
					}
					.webform-datepicker{
						display: flex;
						justify-content: space-between;
						@include mq('md'){
							max-width: 28.4rem;
						}
					}
					&-select{
						position: relative;
					}
					select {
						position: relative;
						width: 100%;
						display: block;						
						background: $white;
						border-radius: 5px;
						border: none;
						color: $blue20;
						font-family: $md;
						letter-spacing: .5px;
						font-size: 18px;
						background-image: url('../images/icons/caret-down-blue.png');
						background-size: 19px;
						background-repeat: no-repeat;
						background-position: 95% center;
						-webkit-appearance: none;
						min-width: 84px;
						// margin-bottom: rem(14px);
						@include placeholder {
							color: $blue20;
							line-height: normal;
						}
						@include mq('md') {
							max-width: rem(284px);
						}
						// &.error {
						// 	color: $salmon;
						// 	border-color: red;
						// }
						+ label.error{
							position: absolute;
							right: 0;
							font-size: 14px;
						}
						// @include mq('md') {
						// 	margin-bottom: rem(27px);
						// 	width: 50%;
						// 	float: left;
						// }
						// &::after {
						// 	content: "";
						// 	display: block;
						// 	@include iconSVG('../images/icons/caret-down.png', 19px);
						// 	width: rem(19px);
						// 	height: rem(11px);
						// 	position: absolute;
						// 	right: rem(10px);
						// 	top: rem(12px);
						// }
					}
					select::-ms-expand {
						display: none;
					}

					&-textarea {
						.form-textarea-wrapper {
							width: 100%;
							.grippie {
								display: none;
							}							
							textarea {
								height: rem(114px);
								resize: none;
								@include mq('md') {
									height: rem(200px);
								}
							}
						}
					}

					&-checkboxes {
						padding: rem(16px) 0;				
						margin-top: rem(16px);
						text-align: left;
						position: relative;
						@include mq('md') {
							padding: inherit;
							width: 70%;
							float: left;
							clear: none;
						}
						label.error{
							position: absolute;
							left: 0;
							font-size: 14px;
							font-family: inherit;
						}
						
						input {
							width: rem(21px);
							height: rem(21px);
							top: rem(-3px);
							margin-left: rem(-31px);
						}

						label {
							@include font(13px);
							text-align: left;
							padding-left: rem(37px);
							font-family: $md;
							letter-spacing: .5px;
							@include mq('md'){
								line-height: 2;
							}
						}

						a {
							color: $blue;
							text-decoration: underline;
						}
					}

					//Specific fields
					@include mq('md'){
						&--name,
						&--id-number,
						&--email,
						&--town,
						&--surname,
						&--gender,
						&--cellphone,
						&--province,
						&--birthday,
						&--password{
							display: inline-block;
							width: 46%;
						}
						&--name,
						&--email,
						&--birthday,
						&--town{
							margin-right: 4%;
						}

						// &--province{
						// 	margin-right: auto;
						// 	float: left;
						// 	margin-left: 2%;
						// }
					}
					// &--name,
					// &--id-number,
					// &--email,
					// &--town {
					// 	@include mq('md') {
					// 		padding-right: rem(15px);
					// 	}
					// }

					// &--surname,
					// &--gender,
					// &--cellphone,
					// &--province {
					// 	@include mq('md') {
					// 		padding-left: rem(15px);
					// 	}
					// }
				}

				.form-actions {
					text-align: center;
					margin-top: rem(16px);
					@include mq('md') {
						text-align: right;
						width: 96%;
    					margin: auto;
					}

					button {
						&.webform-submit {
							&.form-submit {
								@include whiteBtn(15px);
								text-align: center;
								background: transparent;
								border: 1px solid $blue20;
								letter-spacing: 2px;
								padding: 14px 42px;
								color: $blue20;
								margin-top: rem(-20px);
								&:hover{
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
	&.custom-flying-fish-register-events{
		form{
			&.webform-client-form{
				.webform-component--province{
					margin: 0 4% 2.1%;
				}
			}

		}
	}
	&.snick{
		form{
			&.webform-client-form {
				&::after{
					display: none;
				}
			}
		}
	}
}