@font-face {
    font-family: 'Futura Std Bold';
    src: url('../fonts/futura/FuturaStd-Bold.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std heavy';
    src: url('../fonts/futura/FuturaStd-Heavy.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Book';
    src: url('../fonts/futura/FuturaStd-Book.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Condensed Extra Bold';
    src: url('../fonts/futura/FuturaStd-CondensedExtraBd.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-CondensedExtraBd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Light';
    src: url('../fonts/futura/FuturaStd-Light.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Medium';
    src: url('../fonts/futura/FuturaStd-Medium.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Condensed';
    src: url('../fonts/futura/FuturaStd-Condensed.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-Condensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Condensed Light';
    src: url('../fonts/futura/FuturaStd-CondensedLight.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Condensed Bold';
    src: url('../fonts/futura/FuturaStd-CondensedBold.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Std Extra Bold';
    src: url('../fonts/futura/FuturaStd-ExtraBold.woff2') format('woff2'),
        url('../fonts/futura/FuturaStd-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}



@font-face {
    font-family: 'interstatecondregular';
    src: url('../fonts/interstatecond/interstatecond-webfont.eot');
    src: url('../fonts/interstatecond/interstatecond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstatecond/interstatecond-webfont.woff2') format('woff2'),
         url('../fonts/interstatecond/interstatecond-webfont.woff') format('woff'),
         url('../fonts/interstatecond/interstatecond-webfont.svg#interstatecondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/lobster/lobster-1.4-webfont.eot');
    src: url('../fonts/lobster/lobster-1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster/lobster-1.4-webfont.woff2') format('woff2'),
         url('../fonts/lobster/lobster-1.4-webfont.woff') format('woff'),
         url('../fonts/lobster/lobster-1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/font-awesome/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ITCBerrangerHandW01-Rg';
    src: url('../fonts/itc/ITCBerrangerHandW01-Rg.woff2') format('woff2'),
        url('../fonts/itc/ITCBerrangerHandW01-Rg.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
}