
body {
	.footer {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border: none;
		max-width: inherit;
	}
}

.ab-inbev-footer {
	background-color: $blue;
	padding: rem(24px);
    bottom: 0;
    width: 100%;
	@include mq('md') {
		padding: rem(42px);
	}

	.ab-inbev-footer-content-1,
	.ab-inbev-footer-content-2 {
		@include cont;
		color: $white;
		text-align: center;
		a {
			color: $white;
		}
	}

	// Logo
	.ab-inbev-footer-aware-logo {
		width: rem(170px);
		height: rem(42px);
		background-image: url('../images/brand/awarelog-white.png');
		background-size: 100% 100%;
		overflow: hidden;
		text-indent: -999999px;
		display: block;
		margin: rem(14px) auto 0;
		opacity: 0.5;
		@include mq('md') {
			height: 59px;
			opacity: 1;
			display: inline-block;
			margin: 0 0 0 0;
		}
	}

	// First footer line
	.ab-inbev-footer-content-1 {
		padding: rem(24px) 0 0;
		@include mq('md') {
			padding: rem(24px) 0;
			border-bottom: rem(1px) solid $white;
			text-align: left;
		}
		ul {
			&.ab-inbev-footer-menu {
				display: block;
				text-align: center;
				padding: 0 0 0 0;
				@include mq('md') {
					text-align: left;
					display: inline-block;
					float: right;
					text-align: right;
					margin-top: rem(20px);
				}
				li {
					display: inline-block;
					border-right: rem(1px) solid $white;
					&:nth-child(2),
					&:nth-child(4) {
						border-right: none;
						@include mq('md') {
							border-right: rem(1px) solid $white;
						}
					}
					a {
						padding: rem(14px);
						@include font(11px);
						font-family: $bd;
						text-transform: uppercase;
						@include mq('tb') {
							@include font(10px);
						}
					}
					&:last-child {
						border-right: none;
						a {
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	// Second Line
	.ab-inbev-footer-content-2 {
		padding: rem(24px) 0;
		text-align: center;
		@include mq('md') {
			display: flex;
			width: 100%;
			text-align: left;
		}

		.ab-inbev-footer-content-2-text-1 {
			text-align: center;
			@include mq('md') {
				text-align: left;
				width: 37.3%;
			}
			h4 {
				font-family: $bd;
				@include font(11px);
			}
			p {
				@include font(9px);
				font-weight: normal;
				font-family: $book;
				@include mq('md') {
					@include font(11px);
				}
			}
		}

		.ab-inbev-tap-in-your-beer-wrapper {
			text-align: center;
			@include mq('md') {
				width: 40%;
			}
			a {
				display: inline-block;
				overflow: hidden;
				text-indent: -999999px;
				width: rem(259px);
				height: rem(19px);
				background-image: url('../images/brand/tap-beer.png');
				background-size: 100% 100%;
				margin: rem(20px) auto rem(15px);
				@include mq('md') {
					margin-top: rem(22px);
				}
			}
		}

		.ab-inbev-footer-social-media {
			text-align: center;
			padding: 0;
			@include mq('md') {
				text-align: right;
				width: 23.3%;
			}
			li {
				display: inline-block;
				margin: 0 rem(5px);
				@include mq('md') {
					margin: rem(12px) rem(5px);
				}
				a {
					display: block;
					width: rem(29px);
					height: rem(29px);
					position: relative;
					border-radius: 100%;
					background-color: rgba(255,255,255,0.4);
					&:hover {
						background-color: $white;
					}
				}

				&.ab-inbev-footer-social-media-facebook {
					margin-left: 0;
					a {
						@include iconSVG('../images/icons/facebook-logo.svg', 14px);
					}
				}
				&.ab-inbev-footer-social-media-instagram {
					a {
						@include iconSVG('../images/icons/instagram-logo.svg', 14px);
					}
				}
				&.ab-inbev-footer-social-media-youtube {
					a {
						@include iconSVG('../images/icons/youtube-logo.svg', 14px);
					}
				}
				&.ab-inbev-footer-social-media-twitter {
					margin-right: 0;
					a {
						@include iconSVG('../images/icons/twitter-logo.svg', 14px);
					}
				}
			}
		}
	}
}

//Fix for agegate
.agegate-container-footer {
	.agegate_copyright_text {
		padding: 0 0 0 0;
	}
}