body {
	font-size: 16px;
	font-family: $book;
	strong,
	b {
		font-family: $bd;
	}

	// Link styles
	button,
	a {
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			transition: all 0.2s;
		}
	}

	// Layout
	.main-container {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		.row {
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			.col-sm-9,
			.col-sm-12 {
				padding: 0 0 0 0;
				margin: 0 auto;
				float: none;
				clear: both;
			}
		}

		// Layout fixes
		aside {
			&.col-md-3 {
				display: none;
			}
		}

		h1 {
			&.page-header {
				display: none;
			}
		}
	}

	section {
		&#block-block-21 {
			background: linear-gradient(90deg,#489bf8,#f8f075);
		}
		&.intrinsic-message {
			overflow :hidden;
			width: 100%;
			height: 63px;
			display:inline-block;
			border: 3px solid #0571CB;
			white-space: nowrap;
			background-color: #69C0E8;
			margin-bottom: -7px;

			div{
				display: flex;
				flex-wrap: nowrap;
				animation: move 2s infinite linear; /* set the time to what you want of course */
			}

			h2{
				font-size: 36px;
				margin: 5px 0;
				color: #fff;
				text-shadow: 1px 1px #FF0000;
				font-style: italic;
			}

			@keyframes move {
				to {
					transform: translateX(-10%);
				}
			}
		}
	}

	// forms
/* 	form {
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			&::-ms-expand {
				display: none;
			}
		}
	} */
}