
body {
	.navbar {
		&.navbar-default{
			background-color: transparent;
			border-radius: 0;
			border: none;
			margin: 0 auto;
			min-height: auto;
			// padding: 5px;
			overflow: inherit;
			z-index: 10;
			padding: 0;
			max-width: 1280px;
			width: 90%;

			.container{
				width: 100%;
				overflow: inherit;
				max-width: inherit;
			}

			.navbar-header {
				padding: 0 0 0 0;
				// @include cont;
				margin-right: auto;
				margin-left: inherit;
				float: none;
				// Brand
				.logo {
					&.navbar-btn {
						margin-top: 18px;
						&.pull-left {
							position: absolute;
							max-width: rem(440px);
							z-index: 2;
							@include mq('md') {
								max-width: rem(440px);
							}
							&:after{
								content: '';
								background: url('../images/FF-Intrinsic-Logo.png') no-repeat 0 0;
								background-size: contain;
								height: 180px;
								width: 290px;
								max-width: inherit;
								display: block;
								
								@media(max-width: 768px){
									width: 110px;
								}
							}
							img {
								max-width: 100%;
								height: auto;
								display: none;
							}
						}
					}
				}
				.name{
					display: none;
				}
				// trigger button
				button {
					&.navbar-toggle {
						display: block;
						position: absolute;
						right: 0;
						top: rem(20px);
						border: none;
						z-index: 10;
						background-color: transparent;
						@include mq('md') {
							display: none;
						}
						.icon-bar {
							height: rem(3px);
							border-radius: rem(2px);
							background-color: $white;
							width: rem(28px);
							transition: all 0.3s;
						}
						&:hover,
						&:focus {
							background-color: transparent;
						}

						&.collapsed {
							position: fixed;
							.icon-bar {
								position: absolute;
								margin: 0;
								top: 20px;
								right: 10px;
								background-color: $blue20 !important;
								&:nth-child(2) {
									transform: rotate(-45deg);
								}

								&:nth-child(3),
								&:nth-child(4) {
									transform: rotate(45deg);	
								}
							}
						}
					}	
				}				
			}
			
			.navbar-collapse {
				display: none !important;
				min-height: 100vh;
				width: 100% !important;
				max-width: rem(560px);
				padding: rem(106px) rem(20px);
				background-color: $yellow20;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 9;
				&::after,
				&::before{
					content: '';
					width: 77px;
					height: 75px;
					background: url('../images/misc/white-shape-nav.png') no-repeat;
					background-size: contain;
					position: absolute;
					left: 7px;
					top: 56%;
					@include mq('md'){
						display: none;
					}
				}
				&::after{
					background: url('../images/misc/green-shape-nav.png') no-repeat;
					background-size: contain;
					width: 96px;
					height: 122px;
					left: inherit;
					top: 26%;
					right: 14px;
					@include mq('md'){
						display: none;
					}
				}
				@include mq('md') {
					// padding: rem(106px) rem(120px);
					display: block !important;
					background: transparent;
					// position: relative;
					width: auto !important;
					right: 0;
					max-width: inherit;
					min-height: inherit;
					padding: 0;
					text-align: right;
					margin-top: rem(40px);
				}

				&.in {
					display: block !important;
					margin: 0 0 0 0;
					position: fixed;				
					nav {
						display: block;
					}
				}

				nav {
					display: none;
					@include mq('md'){
						display: inline-block;
					}
					.navbar-nav {
						float: none;
						clear: both;
						padding: inherit;
						margin: 0;
						@include mq('md'){
							flex-direction: row;
						}
						> li {
							display: block;
							float: none;
							clear: both;
							text-align: center;
							margin-bottom: rem(20px);
							&:last-child {
								background-color: $yellow30;
								width: 165px;
								height: 40px;
								top: -11px;
								padding-top: 11px;

								@media(max-width:768px) {
									width: initial;
								}

								a {
									color: $blue20;
									&:hover,
									&:focus {
										color: $blue20;
									}
								}
								&.active {
									a {
										color: $blue20;
									}
								}
							}
							a {
								padding-top: 0;
								padding-bottom: 0;
								text-transform: uppercase;
								font-family: $bd;
								@include font(24px);
								color: $blue20;
								text-transform: uppercase;	
								padding: rem(10px) 0;
								@include mq('md') {
									color: $white;
									padding: 0 rem(14px);
									@include font(13px);
								}
								&:hover,
								&:focus {
									background: none;
									color: $yellow30;
								}
								&.active{
									color: $yellow30;
								
									@media(max-width: 768px){
										color: #fff;
									}
								}
							}
							&.active {
								a {
									background: none;
									color: $yellow30;
								
									@media(max-width: 768px){
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}