//--  Fonts --//

$book:   'Futura Std Book';
$heavy:  'Futura Std heavy';
$cn-bd:  'Futura Std Condensed Bold';
$bd: 'Futura Std Bold';
$lt: 'Futura Std Light';
$md: 'Futura Std Medium';
$cnd: 'Futura Std Condensed';
$cn-lt: 'Futura Std Condensed Light';
$cn-bd: 'Futura Std Condensed Bold';
$ex-bd: 'Futura Std Extra Bold';
$cn-ex-bd: 'Futura Std Condensed Extra Bold';;
$in-reg: 'interstatecondregular';
$lobs:   'lobster_1.4regular';
$awesome:'FontAwesome';

// -- Colors -- //

$white:   #ffffff;
$red:     #e31a2c;
$black:   #000000;
$dk-brand:#171717;
$gray-lt: #DEDEDE;
$gray-hold: #b2b2b2;
$gray-d8: #D8D8D8;
$gray-border: #eaeaea;
$gray-input: #b1b2b1;
$blue:    #002f87;
$yellow:  #fee12b;
$marine:  #00a7e1;
$navy: #01b18a;
$dk-navy: #088973;
$salmon: #fc7878;

$op_blue: rgba(0,47,135,0.8);
$op_dk_navy: rgba(0,137,115,0.94);


$blue-light: #00A7E1;
$blue20: #00468B;
$blue-facebtn: #1A94ED;
$yellow20: #FFF200;
$yellow30: #FE0;
