.view-about {
	.view-content {
		position: relative;
		margin: rem(32px) auto rem(120px);
		padding: 0 rem(10px);
		@include mq('md') {
			padding: inherit;
			margin: rem(50px) auto;
		}

		&::before {
			@include mq('md') {
				content: "";
				background-color: $white;
				width: rem(3px);
				height: 100%;
				position: absolute;
				left: rem(18px);
				top: 0;
			}
		}
		
		//Slick pager
		.slick-prev,
		.slick-next {
			display: block;
			top: inherit;
			bottom: rem(-67px);
			transform: none;
			width: rem(35px);
			height: rem(35px);
			background-size: 100% 100%;
			cursor: pointer;
			@include mq('tbl') {
				bottom: rem(13px);
			}
		}
		
		.slick-prev {
			left: 37%;
			background-image: url('../images/icons/arrow-prev.png');
		}

		.slick-next {
			left: 59%;
			background-image: url('../images/icons/arrow-next.png');
		}
		
		// Slick content

		.views-row {
			text-align: center;
			outline: none;
			position: relative;
			cursor: pointer;
			padding: 0 rem(20px);
			@include mq('md') {
				padding: inherit;
				margin-bottom: rem(80px);
			}
			
			@include mq('tb') {
				padding: rem(10px) rem(22px);
			}

			&.slick-current {
				.page-about-item {
					.page-about-item-wrapper {
						transition: all 0.4s;
						opacity: 1;
					}
				}
			}

			span {
				display: none;
				&.icon-pager {
					@include mq('md') {
						opacity: 1;
						display: block;
						width: rem(38px);
						height: rem(38px);
						border-radius: 100%;
						border: rem(3px) solid $white;
						position: absolute;
						top: 0;
						left: 0;
						overflow: hidden;
						text-indent: -999999px;
						z-index: 2;
					}
				}							
			}

			.page-about-item {
				@include mq('md') {
					display: flex;
					flex-direction: row-reverse;
					text-align: left;
				}
				.page-about-image {
					@include mq('md') {
						width: 34%;
						text-align: right;
					}
					img {
						display: inline-block;
						max-width: 100%;
						height: auto;
						border-radius: rem(25px);
					}
				}
				.page-about-item-wrapper {
					color: $white;
					transition: all 0.5s;
					opacity: 0.25;
					@include mq('md') {
						width: 66%;
						padding-left: rem(80px);
					}
					h3 {
						font-family: $cn-ex-bd;
						@include font(30px);
						position: relative;	
						margin-top: rem(4px);					
					}
					h4 {
						font-family: $heavy;
						@include font(13px);
						margin: 0 0 rem(10px) 0;
						color: $marine;					
						@include mq('md') {
							max-width: 60%;
							@include font(14px);
						}
					}
					p {
						@include font(15px);
						@include mq('md') {
							max-width: 60%;
							@include font(14px);
						}
					}
				}
			}
		}
	}	
}