body.front{
	height: 100%;
	img {
		height: auto;
		max-width: 100%;
		vertical-align: top;
	}
	header + .container{
		@include mq('md'){
			max-width: inherit;
		}
	}
}

.page-node-151 {
	.field.field-name-body {
		.field-type-text-with-summary {
			@media (max-width:768px) {
				max-height: 149vw;
				max-height: 610px;
			}
		}
	}
}

.animation-home {
	background-image: url('../images/intrinsic/home/banner.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 2000px;
	overflow: hidden;
	position: relative;
	z-index: -5;
	
	@include mq('md') {
		background-image: url('../images/intrinsic/home/banner.png');
	}

	.container {
		img {
			position: fixed;

			&.bottle {
				left: calc(50% - 85px);
				top: calc(50% - 155px);
				width: 170px;

				&.ff-main-guy {
					@media (max-width:768px) {
						left: calc(50% - 166px) !important;
						top: calc(50% - 170px) !important;
						width: 300px !important;
					}

					@media screen and (min-width:768px) and (max-width:1400px) {
						left: calc(50% - 143px) !important;
						top: calc(50% - 145px) !important;
						width: 260px !important;
					}
				}
			}

			&.contacts {
				@media (max-width:768px) {
					position: absolute;
					margin-top: 50px;
					transform: none!important;
					margin-left: -50vw;
					width: unset !important;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					top: 330px !important;
					width: 57% !important;
				}
			}
			&.refreshing {
				@media (max-width:768px) {
					margin-left: 430px;
					margin-top: 162px;
					transform: rotate(40deg) !important;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					left: calc(50% - 370px) !important;
					top: calc(50% - 146px) !important;
				}
			}
			&.custom-unique {
				@media (max-width:768px) {
					margin-left: -120px;
					margin-top: 70px;
				}
			}
			&.call-now {
				@media (max-width:768px) {
					margin-left: 76px;
					margin-top: 42px;
					width: 90px !important;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					left: calc(50% - 190px) !important;
					top: calc(50% - -59px) !important;
					width: 120px !important;
				}
			}
			&.yum-yum {
				@media (max-width:768px) {
					width: 90px !important;
					margin-left: 50px;
					margin-top: 136px;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					left: calc(50% - -35px) !important;
					top: calc(50% - -80px) !important;
					width: 130px !important;
				}
			}
			&.home-cloudy {
				@media (max-width:768px) {
					margin-top: 25vw;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					top: 160px !important;
				}
			}
			&.fruity-flavour {
				@media (max-width:768px) {
					margin-left: 300px;
					margin-top: 310px;
					width: 130px !important;
				}

				@media screen and (min-width:768px) and (max-width:1400px) {
					left: calc(50% - 360px) !important;
					top: calc(50% - 68px) !important;
					width: 184px !important;
				}
			}
			&.desktop {
				@media (max-width:768px) {
					display: none;
				}
			}

			&.bottle-cap {
				width: 43px;
			}

			&.bottle-cap-logo {
				left: calc(50% - 114px);
				top: calc(50% - 198px);
				width: 53px;
			}

			&.liquid {
				left: calc(50% - 34px);
				top: calc(50% - 165px);
				width: 60px;
			}

			&.big-waves {
				height: 310px;
				left: 50%;
				max-width: none;
				width: auto;

				@include mq('md') {
					height: auto;
					max-width: 100%;
				}
			}

			&.wave-4 {
				bottom: 25px;
				left: 50%;
				max-width: 992px;
				transform: translate(-50%, 50%) scale(1);

				@include mq('md') {
					max-width: 100%;
					width: 100%;
				}
			}

			&.land-1, &.land-2, &.land-3 {
				height: 310px;
				max-width: none;
				width: auto;

				@include mq('md') {
					height: auto;
					max-width: 100%;
				}
			}

			&.land-1 {
				left: 40%;
			}

			&.land-2 {
				left: 43%;
			}

			&.land-3 {
				left: 57%;
			}

			&.sun-1 {
				top: calc(50% - 135px);
				width: 88px;
			}

			&.sun-2 {
				top: calc(50% - 5px);
				transform: rotate(175deg);
				width: 88px;
			}

			&.wedge-yellow, &.wedge-green, &.wedge-orange {
				filter: drop-shadow(0px 0px 3px #00000090);
			}
		}
	}
}