.view-blog-list {
	.view-content {
		position: relative;
		margin: rem(32px) auto rem(120px);
		// padding: 0 rem(10px);
	    // display: flex;
    	// flex-wrap: wrap;
    	text-align: center;
		@include mq('md') {
			// width: 25%;
			text-align: inherit;
			padding: inherit;
			margin: rem(50px) auto;
			// padding: 0 rem(10px);
		}
		.container-blog-slideshow{
			@include mq('md'){
				display: flex;
				flex-wrap: wrap;
			}
		}
		.views-row {
		    // width: 80%;
    		// margin: auto;
    		position: relative;
    		margin-bottom: rem(30px);
    		outline: none; 
			@include mq('md') {
				margin-right: rem(30px);
		     	// width: 25%;
		     	// min-width: 250px;
		     	
			}
			&:before{
				content: '';
				position: absolute;
			    bottom: -14px;
			    left: 50%;
			    outline: none;
			    transform: translateX(-50%);
			    display: none;
			    z-index: 1;
			    border-top: 20px solid #002f87;
			    border-right: 20px solid transparent;
			    border-left: 20px solid transparent;
			    @include mq('md'){
			    	bottom: -30px;
			    }
			}
			&.item-active{
				&:before{
					display: block;
				}
				.blog-item .blog-item-content{
					opacity: 1;
				}
			}
			&.slick-center{
			    transform: scale(1.1);
			}
			.blog-item{
				position: relative;
				// margin: 0 rem(18px) rem(18px);
				@include mq('md'){
					margin: inherit;
				}
				.blog-item-image{
				    height: 240px;
    				overflow: hidden;
    				img{
    					height: 100%;
    					width: 100%;
					    max-width: 450px;
    				}
    				@include mq('md'){
    					height: 275px;
    				}
				}
				.blog-item-content{
				    position: absolute;
				    top: 0;
				    left: 0;
				    height: 100%;
				    width: 100%;
				    background: rgba($blue, .8);
				    color: $white;
				    padding: rem(7px) rem(14px);
				    opacity: 0;
					transition: all .5s;
					text-align: center;
				    h3{
						font-family: $bd;
						font-size: 18px;
						margin-top: rem(30px);
						@include mq('md'){
							font-size: 22px;
						}
					}
					p{
						font-family: $lt;
						font-size: 15px;
						margin-top: rem(10px);
						min-height: 70px;
						@include mq('md'){
							font-size: 17px;
						}
					}
					.blog-see-more{
						// @include whiteBtn(15px);
						@include generalBtn(12px,$blue-light,transparent,$black);
						margin-top: rem(14px);
						border: 1px solid $blue-light;
						padding: 10px;
						min-width: 130px;
						outline: none;
						&:hover,
						&:focus {
							color: $white;
							border: 1px solid $black;
						}
					}
				}
				&:hover{
					.blog-item-content{
						opacity: 1;
					}
				}
			}
		}
	}	
}