body{
    &.node-type-blog{
        background-size: 100%;
		background-repeat: no-repeat;
        background-position: top center;
        .main-container{
			max-width: inherit;
			margin-top: 63vw;
			overflow: inherit;
			@include mq('tbp'){
				margin-top: 28vw;
			}
			@include mq('md'){
				margin-top: 28vw;
			}
			// @include mq('hd'){
			// 	margin-top: 35em;
			// }
        }
        section{
            background: $white;
            padding: 0 2rem !important;
            &::before{
                content: '';
                width: 100%;
                height: 42px;
                background: url('../images/misc/store-locator-border.png') no-repeat;
                background-size: cover;
                background-position: center 10px;
                left: 0;
                top: -40px;
                position: absolute;
                @include mq('md'){
                    top: -76px;
                    height: 77px;
                }
                @include mq('hd'){
                    // top: -117px;
                    height: 121px;
                }
              }
            .breadcrumb{
                display: none;
            }
            .page-header{
                display: block;
                font-family: $bd;
                font-size: 28px;
                color: $blue20;
                border: none;
                padding-top: rem(77px);
                position: relative;
                @include mq('md'){
                    font-size: 49px;
                    padding-bottom: rem(40px);
                    padding-top: rem(100px);
                    @include cont;
                }
                &::after,
                &::before{
                    content: '';
                    width: 84px;
                    height: 123px;
                    background: url('../images/misc/yellow-shape-border.png') no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 6%;
                    top: -35%;
                    @include mq('md'){
                        width: 123px;
                        left: 7%;
                        top: -42%;
                    }
                }
                &::after{
                    background: url('../images/misc/green-shape-border.png') no-repeat;
                    background-size: contain;
                    // width: 99px;
                    // height: 111px;
                    left: inherit;
                    top: -35%;
                    right: 10%;
                    @include mq('md'){
                        top: -42%;
                        right: 19%;
                    }
                }
            }
			&#block-system-main {
				background: $white;
                position: relative;
                padding: 0 !important;
                &::before{
                    display: none;
                }
				// @include cont;
				padding-top: rem(40px);
				width: 100%;
                // max-width: inherit;
                .content{
                    font-family: $lt;
                    font-size: 21px;
                    color: #708090;
                    margin-bottom: rem(100px);
                    .field-items{
                        padding-bottom: rem(21px);
                        .field-item{
                            margin-bottom: rem(14px);
                        }
                    }
                    .field-type-text-with-summary{
                        @include cont;
                    }
                    .field-name-field-back-link{
                        @include cont;
                        position: absolute;
                        top: -12rem;
                        left: 50%;
                        transform: translateX(-50%);
                        @include mq('md'){
                            top: -15rem;
                        }
                        .field-items{
                            padding: 0;
                            .field-item{
                                margin: 0;
                            }
                        }
                        a{
                            font-family: $bd;
                            font-size: 16px;
                            color: $blue20;
                            padding-left: rem(28px);
                            position: relative;
                            &::before{
                                content: '';
                                width: 18px;
                                height: 18px;
                                background: url('../images/icons/caret-down-blue.png') no-repeat;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                                top: 12%;
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .slide-blog-images{
                        @include cont;
                        max-width: 1440px;
                        .container-blog-slideshow{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            outline: none;
                            img{
                                max-width: 451px;
                                max-height: 451px;
                                overflow: hidden;
                                margin: 0 0.5rem 0.5rem 0;
                            }
                        }
                    }
                    footer{
                        display: none;
                    }
                    + .links{
                        display: none;
                    }
                    .slick-dots{
                        bottom: rem(-50px);
                    }
                }
				// padding-top: 84vh;
				// @include mq('md') {
				// 	padding-top: 55vw;
				// }
				// @include mq('hd') {
				// 	padding-top: 115vh;
				// }
				// @include mq('tb') {
				// 	padding-top: 90vh;
				// }
				// h2,
				// h3 {
				// 	text-align: center;
				// 	color: $blue;
				// 	// @include mq('md') {
				// 	// 	text-align: left;
				// 	// 	color: $white;
				// 	// }
				// }

				// h2 {
				// 	font-family: $cn-ex-bd;
				// 	line-height: 1;
				// 	@include font(30px);
				// 	@include mq('md') {
				// 		@include font(40px);
				// 	}
				// }
				// h3 {
				// 	font-family: $md;
				// 	@include font(18px);
				// 	line-height: 1;
				// 	@include mq('md') {
				// 		@include font(20px);	
				// 	}
				// }
            }
            
            // Wrapper
			// &#block-views-blog-list-block {
			// 	@include cont;
			// 	max-width: 1440px;
			// 	margin-bottom: rem(120px);
			// }
        }
        footer{
            section{
                padding: 0 !important;
                &::before{
                    display: none;
                }
            }
        }
    }
}