.view-events {
	.view-content {
		position: relative;
		margin: rem(32px) rem(10px) rem(120px);
		@include mq('md') {
			margin: rem(50px) 0 rem(130px);
		}

		//Slick pager
		.slick-prev,
		.slick-next {
			display: block;
			top: inherit;
			bottom: rem(-67px);
			transform: none;
			width: rem(35px);
			height: rem(35px);
			background-size: 100% 100%;
			cursor: pointer;
		}
		
		.slick-prev {
			left: 33%;
			background-image: url('../images/icons/arrow-prev.png');
			@include mq('md') {
				left: 45%;
			}
			@include mq('hd') {
				left: 47%;
			}
		}

		.slick-next {
			left: 56%;
			background-image: url('../images/icons/arrow-next.png');
			@include mq('md') {
				left: 52%;
			}
		}

		//Slider items
		.views-row {
			position: relative;
			@include bgcover;
			@include mq('md') {
				width: rem(325px);
				height: rem(215px);
				margin-top: rem(30px);
			}

			&.slick-current {
				min-height: rem(417px);
				@include mq('md') {
					width: rem(410px);
					height: rem(335px);
					min-height: inherit;
					margin-top: 0;
				}

				.page-event-wrapper {
					display: block;
				}
			}

			.page-event-wrapper,
			.page-event-image {
				display: none;
			}

			.page-event-wrapper {
				@include coverAbsolute (1);
				background-color: $op_blue;
				padding: rem(17px);
				color: $white;
				@include mq('md') {
					padding: rem(30px);
				}

				h3 {
					text-transform: uppercase;
					font-family: $cn-ex-bd;
					@include font(23px);
					margin-top: rem(36px);

					@include mq('md') {
						margin-top: 0;
						@include font(25px);
					}
				}

				ul {
					padding: 0 0 0 0;
					margin-bottom: rem(15px);
					li {
						display: block;
						color: $white;
						text-transform: uppercase;
						@include font(15px);
						margin-bottom: rem(15px);
						&::before {
							content: "";
							display: inline-block;
							vertical-align: text-bottom;
							width: rem(24px);
							height: rem(24px);
							background-size: 100% 100%;
							margin-right: rem(15px);
						}
						&.page-event-location {
							&::before {
								background-image: url('../images/icons/location-icon.png');
							}
						}
						&.page-event-date {
							&::before {
								background-image: url('../images/icons/clock-icon.png');
							}
						}
					}
				}
				
				p {
					color: $white;
				}
				
				.page-event-links {
					position: absolute;
					bottom: rem(-12px);
					background-color: $blue;
					left: 0;
					width: 100%;
					padding: rem(22px) rem(25px);
					text-align: center;

					@include mq('md') {
						background-color: transparent;
						padding: 0 0 0 0;
						position: unset;
						bottom: inherit;
						left: inherit;
						margin: rem(32px) 0;
					}
					a {
						margin: rem(15px) auto;
						display: block;
						@include mq('md') {							
							margin: 0 rem(15px);
							vertical-align: middle;
						}
						&.page-event-links-facebook {													
							@include whiteBtn(15px);
							margin-left: 0;								
							@include mq('mf') {
								max-width: rem(200px);
								display: block;
								margin: 0 auto;
							}
						}
						&.page-event-links-register {
							@include marineBtn(15px);
							min-width: rem(165px);
							margin-right: 0;
							@include mq('md') {
								max-width: rem(115px);
								min-width: inherit;
							}
						}
					}
				}
			}
		}
	}
}