.view-upcoming-events-home {
	display: block;
	.view-content {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		.views-row {
			width: 50%;
			position: relative;
			min-height: rem(170px);
			@include bgcover;			
			@include mq('md') {
				width: 33.33%;
				min-height: rem(360px);
			}
			.home-upcoming-events-image {
				display: none;
			}
			.overlapped {
				@include coverAbsolute(1);
				background-color: $op_blue;
				opacity: 0;
				transition: all 0.4s;
				text-align: center;
				h3 {
					font-family: $cn-ex-bd;
					color: $white;
				}
				a {
					@include marineBtn(15px);
					min-width: rem(170px);
				}
			}
			&:hover {
				.overlapped {
					opacity: 1;
				}
			}
		}
	}
}