.view-whatsapp-steps {
	@include cont;
	padding: rem(62px) rem(15px);
	@include mq('md') {
		padding: 0 0 rem(40px);
	}

	.view-content {
		.views-row {
			margin-bottom: rem(54px);
			&:first-child {
				.page-whatsapp-item {
					.page-whatsapp-item-wrapper {
						h3 {
							@include mq('md') {
								margin-top: rem(116px);
							}
						}
					}
				}
			}
			.page-whatsapp-item {
				text-align: center;
				@include mq('md') {
					text-align: left;
					display: flex;
				}
				.page-whatsapp-image {
					display: block;
					@include mq('md') {
						width: 40%;
					}
					img {
						display: inline-block;
						max-width: 100%;
						height: auto;
					}
				}

				.page-whatsapp-item-wrapper {
					color: $blue;
					@include mq('md') {
						width: 60%;
						padding: 0 rem(45px);
					}
					h3 {
						font-family: $cn-ex-bd;
						line-height: 1;
						@include font(40px);
						margin: 0 0 rem(10px);
						@include mq('md') {
							margin: 0 0 rem(14px);
							@include font(50px);
						}
					}
					h4 {
						font-family: $cn-ex-bd;
						line-height: 1;
						@include font(25px);
						margin: 0 auto rem(10px);
						max-width: rem(190px);
						@include mq('md') {
							display: inline-block;
							margin: 0 0 rem(14px);
							@include font(30px);
							max-width: rem(300px);
						}
					}

					p {
						max-width: rem(480px);
					}
				}
			}

			&.views-row-even {
				.page-whatsapp-item {
					@include mq('md') {
						flex-direction: row-reverse;
						text-align: right;
					}
					p {
						@include mq('md') {
							display: inline-block;
						}	
					}
				}
			}
		}
	}
}