body {
      background-color: #0071CE;
      background-image: url(https://www.addsomeflavour.co.za/sites/g/files/phfypu1231/f/new-reg-b.png);
      background-repeat: no-repeat;
      background-size:100% auto;
      background-position: center center;
}
.register-wrapper  {
      width: 80%;
      margin-top: 200px !important;
      margin-bottom: 50px !important; 
}

.leaves-container {
      display: none;
}

.form-container {
      width: 677px;
      /* height: 677px; */
      background: #FFF200 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 25px;
      padding-top: 52px;
      padding-bottom: 30px !important;
}

.thank-you-container {
      height: 600px;
    }
.thank-you-container h1 {
      margin-top: 180px;
    }

.register-wrapper .day-select {
      /* margin-left: -16px; */
      width: 80px;
}

.register-wrapper .month-select {
      /* margin-left: -8px; */
      width: 80px;
}

.register-wrapper .year-select {
      /* margin-left: 8px; */
      width: 80px;
}

.dob-select-group .col{
      margin-left: -15px;
}

.person-image {
}

.register-wrapper h6, .register-wrapper h1{
      color: #00468B;
}

.register-wrapper h6{
      font-size: 20px;
 }

.register-wrapper h1{
     font-size: 40px;
     line-height: 27px;
     font: normal normal bold 40px/53px Futura; 
}

.register-wrapper .form-group {
      margin-top: 30px;
}

.control-label-1  input{
      display: block !important;
      position: absolute;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #00468B !important;
      display: hidden;
}

label[for=edit-submitted-terms-2]
{
      display: block !important;
}
/*

.control-label-1  input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
}

.control-label-1 input::before{
      content: '';
      position: absolute;
      left: 100px !;
      top: 0;
      width: 22px;
      height: 22px;
      border: 1px solid #00468B;
      border-radius: 100%;
}

.control-label-1 input::after{
      content: '';
      width: 12px;
      height: 12px;
      background: #00468B;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      display: none;
}

input:checked::after {
      display: block;
}

input:checked::after {
      display: block;
}*/

.register-wrapper [type="radio"]:checked,
.register-wrapper [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.register-wrapper [type="radio"]:checked + label,
.register-wrapper [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    /* line-height: 20px; */
    display: inline-block;
    font-size: 15px;
    color: #00468B;
}
.register-wrapper [type="radio"]:checked + label:before,
.register-wrapper [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #00468B;
    border-radius: 100%;
    /* background: ; */
}
.register-wrapper [type="radio"]:checked + label:after,
.register-wrapper [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00468B;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.register-wrapper [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.register-wrapper [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.register-wrapper input::placeholder {
      text-align: left;
      font: normal normal medium 17px/23px Futura;
      letter-spacing: 0px;
      color: #00468B;
      opacity: 1;
      font-size: 18px;
}

.register-wrapper input {
      text-align: left;
      font: normal normal medium 17px/23px Futura;
      letter-spacing: 0px;
      color: #00468B;
      opacity: 1;
      font-size: 18px;
}

.register-wrapper input:focus {
      outline: none;
      box-shadow: 0;
}

.register-wrapper label {
      
}
.register-wrapper select, .register-wrapper input {
      margin-top: 30px; 
      font-size: 17px;
      position: relative;
      width: 100%; 
      display: block;
      background: #fff;
      border-radius: 5px;
      border: none;
      color: #00468b;
      font-family: Futura Std Medium;
      letter-spacing: .5px;
}

.register-wrapper button {
      font-size: 15px;
      text-transform: uppercase;
      font: normal normal bold 15px/20px Futura;
      width: 154px;
      height: 45px;
      background: transparent;
      border: 1px solid #00468B;
      border-radius: 20px;
      color: #00468B;
      margin-top: 30px;
}

.register-wrapper button:focus{
      outline: none;
}

.register-wrapper select {
     
      background-image: url(https://www.addsomeflavour.co.za/sites/g/files/phfypu1231/themes/site/assets/css/b70b25c10c85063a0fb6f34dbb73a0b8.png);
      background-size: 19px;
      background-repeat: no-repeat;
      background-position: 95%;
      -webkit-appearance: none;
}

.dob-select-group-first{
      /* margin-left: -15px; */
}

.dob-select-group select {
      text-align: left;
      max-width: unset;
}
.dob-select-group .col {
      width: 78px;
}

.register-wrapper .person-image {
      
}

.person-image {
      width: 660px;
      /* height: 900px; */
      position: absolute;
      top: -0px;
      left: 50px
}

.person-image img{
      width: inherit;
      height: inherit;
}

select {
      height: 40px !important;
}

.what-you-like select {
      background-position: 98% !important;
      width: 546px;
}

.leaves-container .leaf {
      width: 92px;
      height: 72px;
      position: absolute;
}

.leaves-container .leaf  img{
      width: inherit;
      /* height: inherit; */
}

.person-image-mobile {
      display: none;
}

.yellow-leaf-left {
      position: absolute;
      top: 100%;
      left: 30%;
      transform: rotate(180deg);
}

.light-green-leaf-left {
      top: 18%;
      left: -25%;
      transform: rotate(120deg);
}
.dark-green-leaf-left {
      top: 82%;
      left: -5%;
      transform: rotate(-90deg);
}
.yellow-leaf-right {
      top: 35%;
      left: 15%;
}

.dark-green-leaf-right {
      right: -5%;
}

.light-green-leaf-right {
      top: 65%;
      left: 15%;
}

.light-green-leaf-right-two {
      right: -20%;
      top: 100%;
}

.w-255 {
      width: 255px !important;
}
form {
      width: 90%;
      margin: 0 auto;
}

.w-546 {
      width: 546px;;
}

@media screen and (max-width: 800px) and (min-width:300px) {

      .what-you-like select {
            background-position: 95% !important;
            width: 546px;
      }

      .person-image {
            display: none;
      }

      .person-image-mobile {
            display: block;
            margin-top: 80px;
      }

      .w-255, .what-you-like select, select, input {
            width: 100% !important;
      }

      .register-wrapper .day-select {
            width: 88px;
      }
      
      .register-wrapper .month-select {
            width: 88px;
            margin-left: 5px;
      }
      
      .register-wrapper .year-select {
            margin-left: 8px;
            width: 88px;
      }

      /* .dob-select-group .col{
            margin-left: -15px;
      } */

      .register-wrapper  {
            width: 100%;
            margin-top: 0 !important;
            margin-bottom: 50px !important;
      }

      .form-container {
            width: 100%;
            height:inherit;
            padding-bottom: 50px;
            padding-top: 25px;
      }

      .register-wrapper form {
            width: unset !important;
      }

      .register-wrapper input::placeholder {
            font-size: 21px;
      }

      
      .person-image-mobile,  .person-image-mobile img {
            width: 100% !important;
      }

      .person-image-mobile {
            position: relative !important;
            height: unset;
            top: 0;
            left: 0;
      }

      .register-wrapper h6{
      }
     
     .register-wrapper h1{
          font-size: 28px;
     }

     select, input::placeholder {
           font-size: 21px !important;
           
     }

     .register-wrapper select, .register-wrapper input {
            margin-top: 21px !important; 
            font-size: 21px !important;
            text-indent: 0 !important;
      }

      .register-wrapper [type="radio"]:checked + label:before,
      .register-wrapper [type="radio"]:not(:checked) + label:before {
            width: 37px;
            height: 37px;
      }
      .register-wrapper [type="radio"]:checked + label:after,
      .register-wrapper [type="radio"]:not(:checked) + label:after {
            width: 20px;
            height: 20px;
            top: 8px;
    left: 8px;
      }

      .register-wrapper [type="radio"]:checked + label,
      .register-wrapper [type="radio"]:not(:checked) + label
      {
      padding-left: 48px;
      }

      .leaves-container {
            display: none;
      }

      .thank-you-container h1 {
            margin-top: 50px;
          }
      
}

@media screen and (max-width: 1200px) and (min-width:800px) {
      .register-wrapper  {
            width: 100% !important;
      }
      .form-container {
            width: 80% !important;
      }

      .person-image {
            width: 100% !important;
            position: relative !important;
            height: unset;
            top: 0;
            left: 0;
      }

      .person-image img{
            width: 80% !important;
      }

      .leaves-container {
            display: none;
      }
      
}

@media screen and (min-width: 768px) {
      .main-container.eatwithit-register.container {
            min-height: 984px;
      }
}

#node-6 h2 a, #node-6 .submitted{
      display: none !important;
}

#node-306 h2 a, #node-306 .submitted{
      display: none !important;
}


.form-item {
      margin-bottom: 0;
}
.new-registration-form-template {
      /* width: 667px; */
}
select:focus, input:focus {
      outline: none;
}
.new-registration-form-template  label{
      display: none !important;
}

.terms-field .form-radios label{
      display: block !important;
}

label[for=edit-submitted-terms-1]
{
      display: block !important;
}

label[for=events]
{
      display: block !important;
}

label[for=terms]
{
      display: block !important;
}s

.new-registration-form-template select, input{
      height: 40px;
      text-indent: 8px;
}

.new-registration-form-template .what-you-like {
      width: 546px;
}

.new-registration-form-template .w-first input, .new-registration-form-template .w-first select{
      height: 40px;
}

.new-registration-form-template .dob-select-group select {
      width: 80px !important;
}

.new-registration-form-template input::placeholder , select{
      text-align: left;
      font: normal normal medium 17px/23px Futura;
      letter-spacing: 0px;
      color: #00468B;
      font-size: 17px;
      text-indent: 8px;
}

.eatwithit-register .food-before-form {
      position: absolute;
      left: -31%;
      top: -15%;
}

.eatwithit-register .food-on-person {
      position: absolute;
      right: -103%;
      top: 70%;
      transform: rotate(22deg);
      z-index: 1;
}


.eatwithit-register .food-on-person img {
      width: 131px;
}

.eatwithit-register .food-after-form {
      position: absolute;
      left: 86%;
      top: 77%;
}

@media (max-width: 768px) {
      .eatwithit-register .food-after-form {
            left: 1%;
            top: -8%;
      }

      .eatwithit-register .food-after-form img {
            width: 120px;
      }

      .eatwithit-register .food-on-person {
            left: 75%;
            top: -15%;
      }

      .eatwithit-register .food-on-person img {
            width: 85px;
      }

      .eatwithit-register .food-before-form {
            display: none;
      }

      .main-container {
            margin-bottom: 40px;
      }
}

.eatwithit-register .icon-one-before-person {
      position: absolute;
      left: 16%;
      top: 42%;
      transform: rotate(81deg);
      filter: drop-shadow(76px -26px 22px #101010);
      z-index: 1;
}

@media (max-width: 768px) {
      .eatwithit-register .icon-one-before-person {
            display: none;
      }
}

.eatwithit-register .icon-one-before-person img {
      width: 80px;
}

.eatwithit-register .icon-two-before-person {
      position: absolute;
      left: 10%;
      top: 64%;
      transform: rotate(-22deg);
      filter: drop-shadow(16px 69px 22px #101010);
}

@media (max-width: 768px) {
      .eatwithit-register .icon-two-before-person {
            display: none;
      }
}

.eatwithit-register .icon-two-before-person img {
      width:80px
}

.eatwithit-register .icon-after-person {
      position: absolute;
      left: 88%;
      top: 13%;
      transform: rotate(-22deg);
      filter: drop-shadow(15px 60px 22px #101010);
}

@media (max-width: 768px) {
      .eatwithit-register .icon-after-person {
            display: none;
      }
}

.eatwithit-register .icon-after-person img {
      width:80px;
}

.eatwithit-register .food-after-person {
      position: absolute;
      left: 103%;
      top: 7%;
}

@media (max-width: 768px) {
      .eatwithit-register .food-after-person {
            display: none;
      }
}

.thank-you-container{
      background: url(https://www.addsomeflavour.co.za/sites/g/files/phfypu1231/f/thank-you.png);
      background-repeat: no-repeat;
      background-size:100% auto;
      background-position: center center;
}

.terms-container ul{
      margin-top: 50px;
}

.terms-container ul li {
      list-style: none;
      margin-bottom: 10px;
      list-style: circle;
}

.terms-container a{
      font-size: 18px;
      color: #00468B;;
}

body.page-agegate #age_checker .agegate-container .agegate_content #age_checker_widget form#sabm-age-gate-form .form-item-list-of-countries select{
      height: 52px !important;
}
