@font-face {
    font-family: 'ITCBerrangerHandW01-Rg';
    src: url('ITCBerrangerHandW01-Rg.woff2') format('woff2'),
        url('ITCBerrangerHandW01-Rg.woff') format('woff'),
        url('ITCBerrangerHandW01-Rg.svg#ITCBerrangerHandW01-Rg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

