body {
	&.custom-flying-404 {
		background: $blue-light;
		background-image: none !important;
		.main-container{
			margin: auto	;
		}
		article {
			// Hero banner 
			&.node-page {
				min-height: 91vh;
				
				.field-name-body {
					padding: rem(142px) rem(34px) rem(42px);
					position: relative;
					text-align: center;
					@include mq('md') {
						  padding: rem(167px) 0 rem(72px);
					}
					p {
						color: $blue20;
						text-align: center;
						line-height: 1;
						font-family: $bd;
						letter-spacing: .5px;
						font-size: rem(17px);
						&.title{
							margin-bottom: rem(35px);
						}
						strong {
							font-family: $heavy;
						}

						img {
							display: inline-block;
							max-width: 100%;
							height: auto;
							margin: rem(25px) 0;
						}

						&.subtitle {
							text-transform: uppercase;
							font-family: $cn-ex-bd;
							display: none;
							@include font(45px);
							margin-top: 0;
							
							@include mq('md') {
								margin: rem(25px) 0;
								@include font(60px);
							}
						}

						a {
							display: inline-block;
							// margin-top: rem(40px);
							@include marineBtn(15px);
							background: #0071CE;
							text-decoration: none;
							padding: 14px 35px;
							// @include mq('md') {
							// 	margin: 0;
							// }
						}
					}
				}
			}
		}
	}
}