body {
	&.custom-flying-fish-about {
		background-size: 123vw;
		background-repeat: no-repeat;
		background-position: inherit;
		// @include mq('tbp') {
		// 	background-position: 0 rem(-470px);
		// }
		header{
			+ .container{
				max-width: inherit;
			}
		}
		// first section about
		.region-content {
			background-image: linear-gradient(#9be5f5,#0c7ad1);
			display: flex;
			flex-direction: column;
			position: relative;
			
			@include mq('md') {
				flex-direction: row;
				justify-content: flex-end;
			}
		}
		section {
			&#block-system-main {
				order: 1;
				padding: 5em 2em 9em;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: bottom;
				+ section {
					order: 0;
				}
				@include mq('md') {
					background: none;
					order: 0;
					padding: 15em 0 0;
					width: 30%;
					max-width: 500px;
					// margin-right: 4em;
					+ section{
						order: 1;
						width: 56%;
					}
				}
				.about-title,
				.about-subtitle {
					text-align: center;
					color: $white;
					@include mq('md') {
						text-align: left;
					}
				}
				.our-flavour-texts {
					position: relative;
				}
				.our-flavour-hands {
					position: absolute;
					left: 0;
					top: 110px;
					z-index: 0;
					
					@media(max-width: 768px){
						top: 514px;
						width: 139px;
					}
				}
			
				.our-flavour-unique {
					position: absolute;
					left: 0;
					top: 823px;
					width: 201px;

					@media(max-width: 768px){
						left: 75vw;
						top: 790px;
						width: 120px;
					}	
				}
			
				.our-flavour-yum {
					position: absolute;
					left: 1vw;
					top: 500px;

					@media(max-width: 768px){
						left: 75vw;
						top: 790px;
						width: 120px;
					}
				}
				.about-title {
					font-family: $bd;
					line-height: 1;
					@include font(18px);
					@include mq('md') {
						@include font(35px);
					}
					+ p{
						font-family: $md;
						letter-spacing: .6px;
						@include font(13px);
						color: $white;
						margin-top: rem(14px);
						@include mq('md'){
							margin-top: rem(28px);
							@include font(16px);
						}
					}
				}
				.about-subtitle {
					font-family: $md;
					@include font(18px);
					line-height: 1;
					@include mq('md') {
						@include font(20px);	
					}
				}
			}
			.view-content{
				&.slick-slider{
					margin-bottom: 0;
				}
				.slick-dots{
					margin-bottom: 12%;
					@include mq('md'){
						margin-bottom: 10%;
					}
				}
			}
			.view-our-flavour{
				.views-row {
					&:hover {
						& > .views-field-field-blog-image {
							img {
								transform: rotate(90deg);
								-webkit-transform: rotate(90deg);
								-webkit-transition-duration: 1s;
								-webkit-transition-delay: now;
								margin-left: -2vw;
								margin-top: 8vw;
							}
						}
					}
				}
				.views-field-field-blog-image {
					position: absolute;
					margin-top: 23vw;
					left: -3vw;
					width: 24vw;
					transform: rotate(-90deg);

					img {
						width: 82%;
						@media(max-width: 768px){
							display: none;
						}
					}
				}
				.views-field-field-blog-gallery {
					position: absolute;
					top: 190px;
					left: 40px;
					width: 70px;
					@media(max-width: 768px){
						top: 150px;
						left: 10px;
						width: 35px
					}
				}
				.views-field-field-event-image {
					position: absolute;
					top: 300px;
					left: 140px;
					width: 180px;
					@media(max-width: 768px){
						top: 200px;
						left: 65px;
						width: 80px;
					}
				}
				.views-row {
					position: relative;
					display: flex;
					padding-bottom: 3em;
					outline: none;

					@include mq('md'){
						min-height: 121vh;
						padding: 0;
						transition: margin 0.5s;
						// margin-left: 9vw;
						&.slick-current{
							+ .slick-slide{
								margin-left: -11vw;
							}
						}
					}
					@include mq('hd'){
						min-height: 105vh;
					}
					&:nth-child(odd){
						color: $white;
						@media(max-width: 768px){
							background: #00b820;
						}
						.content-tabs {
							background: #00b820;
						}
						.views-field-field-image {
							background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0) 50%,#00b820 0);
						}
						@include mq('md'){
							.views-field-field-image{
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00B820",GradientType=1);
							}
						}
						a,
						.custom-select{
							color: $white;
						}
					}
					&:nth-child(even){
						color: $blue;
						@media(max-width: 768px){
							background: #96c31e;
						}
						.content-tabs {
							background: #96c31e;
						}
						.views-field-field-image {
							background: linear-gradient(90deg,hsla(0,0%,100%,0),hsla(0,0%,100%,0) 50%,#96c31e 0);
						}
						@include mq('md'){
							background: none;
							.views-field-field-image{
								filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#96C31E",GradientType=1);
							}
						}
						a,
						.custom-select{
							color: $blue;
						}
					}
				}
				.views-field-field-image{
					width: 50%;
					margin-left: -.5em;
					margin-top: 8em;
					@include mq('md'){
						margin: 0 auto;
						width: 45%;
						.field-content{
   							padding-top: 9em;
						}
						// margin-left: -10.5em;
						// margin-top: 11em;
					}
					// .field-items,
					// .field-item{
					// 	height: 100%;
					// }
					// img{
					// 	height: 100%;
					// 	width: auto;
					// }
				}
				.content-tabs{
					width: 60%;
					@include mq('md'){
						width: 70%;
					}
					.tab-flavour{
						font-family: $bd;
						@include font(18px);
						padding: 8em 0 0.2em;
						max-width: 442px;
						text-transform: uppercase;
						@include mq('md') {
							@include font(35px);
							padding: 6.5em 0.6em 0;
						}
						p{
							@include font(13px);
							padding: 0;
							line-height: 1.7;
							margin-top: 1.5em;
							text-transform: none;
							font-family: $md;
							letter-spacing: .6px;
							@include mq('md'){
								@include font(21px);
							}
						}
					}
					.tab-nutrition{
						font-family: $bd;
						display: none;
						@include font(13px);
						padding: 11em 0 0.2em;
						max-width: 390px;
						@include mq('md'){
							@include font(15px);
							padding: 12em 1.4em 0;
						}
						h2{
							@include font(18px);
							margin-bottom: .5em;
							@include mq('md') {
								@include font(30px);
							}
							+ p{
								font-family: $md;
								letter-spacing: .6px;
							}
							+ h3{
								border-bottom: 1px solid rgba($blue20, .2);
								padding-bottom: .7em;
								@include font(15px);
								@include mq('md') {
									@include font(18px);
								}
								+ p{
									// font-family: $md;
									border-bottom: 1px solid rgba($blue20, .2);
									padding-bottom: .7em;
									margin-bottom: 1em;
								}
							}
						}
						.custom-select{
							background: none;
							border: none;
							border-bottom: 1px solid rgba($blue20, .2);
							padding-bottom: .7em;
							position: relative;
							cursor: pointer;
							@include font(15px);
							@include mq('md') {
								@include font(18px);
							}
							&::before{
								content: '';
								width: 14px;
								height: 14px;
								border-bottom: 1px solid $blue20;
								border-left: 1px solid $blue20;
								transform: rotate(-45deg);
								position: absolute;
								right: 5%;
								transition: all .3s;
								// top: 35%;
							}
							&__trigger{
								span{
									float: right;
									margin-right: 11%;
								}
							}
							.custom-options{
								position: absolute;
								width: 100%;
								padding: 0;
								list-style: none;
								background: white;
								color: $blue20;
								left: 0;
								top: 35px;
								display: none;
								font-size: 15px;
								li{
									padding: .7em 2em;
								}
							}
							&.open{
								.custom-options{
									display: block;
								}
								&::before{
									transform: rotate(-225deg);
									top: 35%;
								}
							}
						}
						.content-select{
							div[data-content]{
								display: none;
								&:first-of-type{
									display: block;
								}
							}
							br{
								display: none;
							}
							.field-name-field-flavour-size{
								display: none;
							}
						}
						.field-name-field-flavour-size{
							border-bottom: 1px solid rgba($blue20, .2);
							padding-bottom: .5em;
							@include mq('md') {
								@include font(18px);
							}
						}
						.nutritions-table{
							width: 100%;
							margin-top: 1.4em;
							@include mq('md') {
								margin-top: .7em;
							}
							tr{
								display: flex;
								align-items: center;
								margin-bottom: 0.3em;
								td:first-of-type{
									min-width: 28px;
								}
								td:nth-child(2){
									margin: 0 1em;
									font-family: $md;
									letter-spacing: .6px;
								}
								td:last-of-type{
									margin-left: auto;
									font-family: $md;
									letter-spacing: .6px;
								}
							}
						}
						.field-name-field-footer-description{
							margin: 1em 0 2em;
							font-family: $md;
							letter-spacing: .6px;
						}
					}
					.tab-buttons{
						margin-top: 1.4em;
						@include mq('md'){
							padding-left: 1.4em;
						}
						a{
							text-transform: uppercase;
							font-family: $bd;
							font-size: 11px;
							color: $blue20;
							border: 1px solid $blue20;
							border-radius: 54px;
							padding: 1em;
							min-width: 100px;
							display: inline-block;
							text-align: center;
							text-decoration: none;
							outline:  none;
							@media(max-width: 768px){
								margin-bottom: 10px;
							}
							@include mq('md'){
								margin-right: 1em;
							}
							&.active{
								background: $blue20;
								color: $white;
							}
						}
					}
				}
				.slick-dots{
					li{
						width: 35px;
						height: 7px;
						margin: 0 10px;
						button{
							width: 35px;
							height: 7px;
							background: #D9E2EF;
							border-radius: 7px;
							padding: 0;
							@include mq('md'){
								margin-top: -30px;
							}
							@include mq('lg'){
								margin-top: 0px;
							}
						}
						&.slick-active{
							button{
								background: $blue20;
							}
						}			
					}
				}

			}

			// Tiemline Wrapper
			&#block-views-about-block {
				@include cont;
			}
		}
	}
}