body {
	&.custom-flying-fish-blog {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		// @include mq('tbp') {
		// 	background-position: 0 rem(-470px);
		// }
		.main-container{
			max-width: inherit;
			margin-top: 63vw;
			overflow: inherit;
			@include mq('tbp'){
				margin-top: 28vw;
			}
			@include mq('md'){
				margin-top: 28vw;
			}
			// @include mq('hd'){
			// 	margin-top: 35em;
			// }
		}
		section {
			background: $white;
			&#block-system-main {
				background: $white;
				position: relative;
				&::before{
					content: '';
					width: 100%;
					height: 42px;
					background: url('../images/misc/store-locator-border.png') no-repeat;
					background-size: cover;
					background-position: center 10px;
					left: 0;
					top: -40px;
					position: absolute;
					@include mq('md'){
						top: -70%;
						height: 77px;
					}
					@include mq('hd'){
						top: -84%;
    					height: 91px;
					}
				  }
				@include cont;
				padding-top: rem(40px);
				width: 100%;
				max-width: inherit;
				// padding-top: 84vh;
				// @include mq('md') {
				// 	padding-top: 55vw;
				// }
				// @include mq('hd') {
				// 	padding-top: 115vh;
				// }
				// @include mq('tb') {
				// 	padding-top: 90vh;
				// }
				h2,
				h3 {
					text-align: center;
					color: $blue;
					// @include mq('md') {
					// 	text-align: left;
					// 	color: $white;
					// }
				}

				h2 {
					font-family: $cn-ex-bd;
					line-height: 1;
					@include font(30px);
					@include mq('md') {
						@include font(40px);
					}
					&::after,
					&::before{
						content: '';
						width: 84px;
						height: 123px;
						background: url('../images/misc/yellow-shape-border.png') no-repeat;
						background-size: contain;
						position: absolute;
						left: 6%;
						top: -58%;
						@include mq('md'){
							width: 123px;
							left: 20%;
							top: -84%;
						}
					}
					&::after{
						background: url('../images/misc/green-shape-border.png') no-repeat;
						background-size: contain;
						// width: 99px;
						// height: 111px;
						left: inherit;
						top: -56%;
						right: 10%;
						@include mq('md'){
							top: -84%;
    						right: 28%;
						}
					}
				}
				h3 {
					font-family: $md;
					@include font(18px);
					line-height: 1;
					@include mq('md') {
						@include font(20px);	
					}
				}
			}

			// Wrapper
			&#block-views-blog-list-block {
				@include cont;
				max-width: 1440px;
				margin-bottom: rem(120px);
			}
		}
		.blog-gallery-images-show{
			.gallery-items{
			    list-style: none;
			    padding: 0;
			    display: flex;
			    flex-wrap: wrap;
		        margin-bottom: 42px;
			    li.gallery-item{
		    	    width: 50%;
				    height: auto;
    				overflow: hidden;
    				@include mq('md'){
    					width: 25%;
					    height: auto;
					    // min-width: 275px;
					    max-height: 275px;
    				}
				    img{
				    	width: 100%;
				    	height: auto;
				    	background: url('../images/loading.gif');
				    	background-position: center;
				    	height: 100%;
				    	display: block;
				    }
			    }
			}
		}
		.slick-dots{
			li{
				width: 35px;
				height: 7px;
				margin: 0 10px;
				button{
					width: 35px;
					height: 7px;
					background: #D9E2EF;
					border-radius: 7px;
					padding: 0;
				}
				&.slick-active{
					button{
						background: $blue20;
					}
				}			
			}
		}
	}
}