body {
	&.custom-flying-fish-events {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		section {
			// Hero banner 
			&#block-system-main {
				position: relative;
				min-height: 86vh;
				@include cont;
				@include mq('md') { 
					min-height: 83vh;
				}
			}
		}
	}
}