body {
    &.flavourchillas {

        // Menu bar fix
        .navbar.navbar-default 
            .navbar-header 
                button.navbar-toggle 
                    .icon-bar {
            background-color: $white
        }

        // Layout fixes
        .main-container  {
			// Layout fixes
			aside {
				&.col-md-3 {
					display: none;
				}
			}
			
			// Fix bootstrap columns

			.col-sm-9,
			.col-sm-12 {
				float: none;
				width: 100%;
				clear: both;
				padding: 0 0 0 0;
				margin: 0 0 0 0;				
			}
			
			h1 {
				&.page-header {
                    display: block;
                    text-align: center;
                    background-color: $blue;
                    background-image: url('../images/misc/water-pattern.jpg');
                    background-size: cover;
                    background-position: top center;
                    border: none;
                    color: $white;
                    padding: rem(132px) 0 rem(10px);
                    @include font(30px);
                    font-family: $cn-ex-bd;
                    text-transform: uppercase;
                    margin: 0 0;
                    @include mq('md'){
                        padding: rem(100px) 0 rem(30px);
                        @include font(55px);
                    }
				}
            }
        }

        // Top Video
        .hero-video {
            position: relative;
            width: 100%;
            min-height: rem(350px);
            @include mq('md'){
                min-height: rem(524px);
            }
            iframe {
                @include coverAbsolute(1);
                scrolling:yes;
            }
        }

        // Bottom content
        article {
            &.node-page {
                background-image: url('../images/bgs/chillas/new-bg-water.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom right;
                margin: 0 0;
                padding: 0 0;
                @include mq('md'){
                    background-image: url('../images/bgs/chillas/new-bg-water-desktop.jpg');
                }

                .field-name-body {
                    @include wrapper;
                    padding: rem(20px) rem(41px) rem(185px);
                    text-align: center;
                    @include mq('md'){
                        padding: rem(50px) 0 rem(296px);
                    }
                    p {
                        color:$white;
                        @include font(13px);
                        margin-bottom: 16px;
                        @include mq('md'){
                            text-align: left;
                            @include font(16px);
                            margin-bottom: 20px;
                        }
                        span {
                            &.yellow {
                                color: $yellow;
                            }
                            &.marine {
                                color: $navy;
                            }
                        }
                    }
                }
            }
        }
    }
}