body {
	&.flow-room-drops {
		background-position: top;
		background-repeat: no-repeat;
		background-size: auto;
		
		.flow-room-banner {
			background: linear-gradient(#0c7ad1, #9be5f5);
			min-height: 1400px;
			max-width: 100%;
			position: relative;

			@media (max-width: 768px) {
				min-height: 820px;
			}

			.flow-room-banner-icons {
				.flow-room-banner-icons-one {
					position: absolute;
					left: 2vw;
					bottom: 38vw;

					@media (max-width: 768px) {
						left: 0;
						bottom: 117vw;
					}

					img {
						@media (max-width: 768px) {
							width: 80px;
						}
					}
				}

				.flow-room-banner-icons-two {
					position: absolute;
					left: 4vw;
					top: 8vw;

					@media (max-width: 768px) {
						display: none;
					}
				}
			}
		}

		.flow-room-banner-left {
			position: absolute;
			top: 180px;
			left: 14%;

			@media (max-width: 768px) {
				top: 125px;
			}

			img {
				@media (max-width: 768px) {
					width: 84%;
				}
			}
		}

		.flow-room-banner-right {
			right: 0;
			top: 131px;
			position: absolute;

			@media (max-width: 768px) {
				position: absolute;
				margin-top: 63vw;
			}

			img {
				@media (max-width: 768px) {
					width: 551px;
				}
			}
		}

		.drop-it-like-its-hot {
			background: #fff;
			text-align: center;
			margin-top: -480px;
			position: relative;
			width: 100%;
			color: #002F87;
			z-index: 1;

			.intrinsic-message {
				margin-bottom: 80px;
			}

			.drop-it-like-its-hot-icons {
				position: absolute;
				margin-left: -1%;

				.drop-it-like-its-hot-icons-one {
					position: absolute;
					left: 5vw;
					top: -6vw;
					z-index: -1;

					@media (max-width: 768px) {
						margin-top: -215px;
						margin-left: 190px;
					}

					img {
						width: 300px;

						@media (max-width: 768px) {
							width: 100px;
						}
					}
				}

				.drop-it-like-its-hot-icons-two {
					position: absolute;
					left: 72vw;
					top: -211px;
					z-index: -1;

					img {
						width: 400px;
					}

					@media (max-width: 768px) {
						display: none;
					}
				}
			}

			@media (max-width: 768px) {
				margin-top: -8vh;
				padding-bottom: 10px;
			}

			.drop-it-title {
				margin-bottom: 40px;

				@media (max-width: 768px) {
					padding: 0 6%;
					margin-bottom: initial;
				}

				h1 {
					font: normal normal bold 40px/53px Futura;
					line-height: 1;
				}

				h3 {
					font: normal normal 30px/40px Futura;
				}

				p {
					line-height: 1 !important;
					font: normal normal 550 16px/31px Futura;
				}

				.drop-it-price {
					text-align: center;
					margin: -29px;
						
					img {
						width: 30%;

						@media (max-width: 768px) {
							width: 88%;
						}
					}
				}
			}

			.drop-it-video {
				width: 38%;
				height: 390px;
				margin: 0 31%;

				@media (max-width: 768px) {
					width: 92%;
					margin: 0 4%;
					height: 162px;
				}

				iframe {
					border-radius: 5px;

					@media (max-width: 768px) {
						min-height: 150px;
					}
				}

				.drop-it-images {
					position: absolute;
					
					@media (max-width: 768px) {
						width: 90%;
					}

					.icon-image {
						position: absolute;
						top: 25%;
    					margin: 0 43%;

						@media (max-width: 768px) {
							position: absolute;
							top: 18%;
							margin: 0 19%;
							width: 33%;
						}
					}

					.background-image {
						height: 390px;
						width: 109.5%;
						border-radius: 5px;

						@media (max-width: 768px) {
							height: auto;
							width: 91.5%;
							margin-left: -10%;
						}
					}
				}
			}
		}
    
		.flow-room-registration {
			margin: 0 9%;
			padding-bottom: 60px;
			margin-top: 70px;

			@media (min-width: 768px) {
				display: flex;
				display: inline-flex;
			}

			.flow-room-webform {
				background: linear-gradient(#FEF26E, #FF3C28);
				padding-top: 30px;
				border-radius: 15px;

				.webform-component--what-are-you-interested-in {
					margin: 15px 0;
				}

				header {
					display: none;
				}

				.w-first {
					margin-bottom: 15px;
				}

				.form-control {
					font-size: 18px;
					color:#00468B;
				}

				.new-registration-form-template {
					color:#00468B;

					.what-you-like {
						select {
							width: 100%;
						}
					}

					.text-center {
						button {
							background: none;
							width: 154px;
							height: 45px;
							border: 1px solid #fff;
							border-radius: 100px;
							opacity: 1;
							font-weight: 700;
							font-size: 18px;
							color: #fff;
							margin: 32px 0;
						}
					}

					.flow-room-header {
						color: #fff;
						margin-bottom: 18px !important;
						padding: 0 19%;

						@media (max-width: 768px) {
							padding: 0 4%;
						}

						h1 {
							text-align: center;
							font: normal normal bold 30px/53px Futura;
							width: 100vw;
    						line-height: 1.3;
						}

						p {
							text-align: center;
						}
					}

					.dob-select-group {
						@media (max-width: 768px) {
							margin-bottom: 15px;
						}

						select {
							width: 100% !important;
							margin-left: 14px;
						}

						.col {
							margin-left: -28px;
						}
					}

					.mt-4 {
						display: inline-flex;
						display: flex;

						.form-item-submitted-drink-your-flying-fish-with {
							@media (min-width: 768px) {
								display: table-cell;
								padding-right: 50px;
							}
						}

						input {
							width: 25px;
							margin-left: -36px !important;
							margin: -10px 0 0;

							@media screen and (max-width: 800px) and (min-width: 300px) {
								width: 30px !important;
							}
						}

						label {
							display: block !important;
							margin-top: 13px;
							margin-left: 15px !important;
						}
					}

					.mt-2 {
						.col {
							display: inline-flex;
							display: flex;
						}

						input {
							width: 25px;
							margin-left: -36px !important;
							margin: -10px 0 0;

							@media screen and (max-width: 800px) and (min-width: 300px) {
								width: 30px !important;
							}
						}

						label {
							display: block !important;
							margin-top: 13px;
							margin-left: 15px !important;
						}
					}
				}

				@media (min-width: 768px) {
					width: 41vw;
				}
			}

			.flow-room-smeg {
				img {
					width: 100%;
				}

				@media (min-width: 768px) {
					width: 50%;
				}
			}
		}

		&.flow-room-drops-thank-you {
			.flow-room-banner {
				min-height: 136vh;

				@media (max-width: 768px) {
					min-height: 780px;
				}

				.flow-room-banner-left {
					color: #fff;
					text-align:center;
					margin-left: 6vw;
					margin-top: 6vw;

					@media (max-width: 768px) {
						margin-top: 0;
					}

					h1 {
						font: normal normal bold 42px/98px Futura;
						width: 70%;
						line-height: 1.2;
					}

					.flow-room-banner-left-images {
						margin-left: -9vw;

						@media (max-width: 768px) {
							display: none;
						}

						img {
							padding: 0 5%;
						}
					}
				}
			}
		}
	}
}