html{
	overflow: unset !important;	
}

.main-container.container{
	max-width: inherit;
}
.front {
	overflow: unset !important;
	.ff-shop-items {
		background-color: $white;
		display: inline-block;
		width: 100%;
		// height: 600px;
		position: relative;
		
		.image-title{
			color: transparent;
			background: url('../images/misc/featured-title.png') no-repeat;
			background-size: contain;
			max-width: 137px;
			height: 91px;
			margin: 1em auto;
			@include mq('md'){
				max-width: 280px;
				height: 190px;
				margin: 0 auto 2em;
			} 
		}
		.content-featured{
			@include cont;
			margin: 2em auto 6em;
			@include mq('md'){
				margin: 2em auto 10em;
			}
			margin: 2em auto 6em;
			.item-img-1,
			.item-img-2,
			.item-img-3{
				width: 30%;
				height: 162px;
				margin: 0 .4em;
				@include mq('md'){
					height: 350px;
				}
			}
			.item-img-1{
				background: url('../images/bgs/home/p1.jpg') no-repeat;
				background-size: contain;
				background-position: center;
			}
			.item-img-2{
				background: url('../images/bgs/home/p2.jpg') no-repeat;
				background-size: contain;
				background-position: center; 
			}
			.item-img-3{
				background: url('../images/bgs/home/p3.jpg') no-repeat;
				background-size: contain;
				background-position: center;
			}
			@include mq('md'){
				display: flex;
				justify-content: space-between;
			}
		}
		.slick-dots{
			li{
				width: 35px;
				height: 7px;
				margin: 0 10px;
				button{
					width: 35px;
					height: 7px;
					background: #D9E2EF;
					border-radius: 7px;
					padding: 0;
				}
				&.slick-active{
					button{
						background: $blue20;
					}
				}			
			}
		}
		.content-ff-s-i {
			display: flex;
			justify-content: center;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 35px;
			max-width: 960px;
			margin: 0 auto;
			margin-bottom: 60px;
			@include mq('mf'){
				display: block;
			}

			.item-content-ff-s-i{
				&:first-of-type{
					max-width: 360px;
					width: 90%;
					text-align: left;
					@media(max-width: 768px){
						width: 90%;
						margin: 0 auto;
					}
				}
				&:last-of-type{
					@media(max-width: 768px){
						margin: 0 auto;
					}
					img{
						width: 100%;
					}
				}
			}
		}
		.item-content-ff-s-i p {
			margin-top: 70px;
			font-size: 24px;
			line-height: 30px;
			color: #003086;
			@include mq('mf'){
				margin-top: 35px;
				font-size: 18px;
				text-align: center;
			}
		}
		.item-content-ff-s-i {
			img {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
	}

	.ff-twitter {
		background-color: #0071CE;
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 8px;

		.image-title{
			color: transparent;
			background: url('../images/misc/top-tweets-home.png') no-repeat;
			background-size: contain;
			max-width: 137px;
			height: 91px;
			margin: 1em auto;
			@include mq('md'){
				max-width: 280px;
				height: 190px;
				margin: 0 auto 2em;
			}
		}
		#timeline {
			padding: 0 0 110px;
			margin: 0 auto;
			max-width: 1240px;
			overflow: hidden;
			display: flex;
			flex-flow: wrap;
			justify-content: center;
			@include mq('mf') {
				margin-left: auto;
				margin-right: auto;
				display: table;
			}
		}
	}
}

.game{
	.containergame{
		max-width: 960px;
		width: 96%;
		margin: 140px auto;
		.title, p, .social{
			text-align:  center;
			color: white;
		}
		.title{
			font-family: 'Futura Std Bold';
			font-size: 32px;
			margin-bottom: 20px;
		}
		p{
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}
		.maskiframe{
			width:780px;
			height: 478px;
			overflow: hidden;
			// border: 1px solid red;
			margin: 40px auto;
			border-radius: 10px;
			position: relative;
			overflow: hidden;
			@media only screen and (max-width: 979px) and (min-width: 768px){
				width: 706px;
			}
			@media only screen and (max-width: 767px) and (min-width: 640px){
				width: 569px;
				height: 560px;
			}
			@media only screen and (max-width: 639px) and (min-width: 568px){
				width: 569px;
    			height: 560px;
			}
			@media only screen and (max-width: 567px) and (min-width: 480px){
				width: 506px;
    			height: 499px;
			}
			@media only screen and (max-width: 479px) and (min-width: 360px){
				width: 337px;
    			height: 342px;
    			border-radius: 5px;
			}
			@media only screen and (max-width: 359px) and (min-width: 320px){
				width: 281px;
    			height: 283px;
    			border-radius: 5px;
			}

		}
		iframe{
			display: block;
			position: absolute;
			top: -34px;
			left: -20px;
			width: 985px;
			height: 625px;
			overflow: hidden;
			@media only screen and (max-width: 979px) and (min-width: 768px){
				left: -50px;
				width: 975px;
			}
			@media only screen and (max-width: 767px) and (min-width: 640px){
				width: 715px;
				left: -50px;
			}
			@media only screen and (max-width: 639px) and (min-width: 568px){
				width: 755px;
				top: -34px;
				left: -50px;
			}
			@media only screen and (max-width: 567px) and (min-width: 480px){
				width: 575px;
				top: -62px;
				left: -50px;
			}
			@media only screen and (max-width: 479px) and (min-width: 360px){
				width: 365px;
				height: 689px;
    			top: -81px;
    			left: -19px;
			}
			@media only screen and (max-width: 359px) and (min-width: 320px){
				width: 345px;
				height: 689px;
    			top: -70px;
    			left: -28px;
			}
		}
		.social{
			display: block;
			vertical-align: middle;
			text-align: center;
			margin-top: 25px; 
			a{
				display: inline-block;
				width: 36px;
				margin: 0;
				&:first-of-type{
					margin-right: 5px;
				}
				img{
					width: 100%;
					object-fit: contain;
				}
			}
		}

	}
}

body{
	&.wtff{
		.stage-wtff{
			background-image: linear-gradient(#9BE5F5, #0C7AD1);
			padding: 240px 0 90px;
			position: relative;
			overflow: hidden;
			z-index: -1;

			@media(max-width: 999px){
				padding: 150px 0 130px;
			}
			.side-panel-right {
				width: 55%;
				position: absolute;
				top: 70%;
				right: -31%;
				z-index: 999;
				@media(max-width: 768px){
					display: none;
				}
			}
			
			.wider{
				max-width: 1048px;
				margin: 0 auto;
				width:  90%;
				@media(max-width: 999px){
					width: 100%;
				}
				.what-the-flying-right {
					position: absolute;
					top: 5vw;
					right: 7vw;
					img {
						width: 20vw;
						@media(max-width: 768px){
							width: 61%;
							margin-left: 134px;
							margin-top: -437px;
						}
						&.wtff-hands {
							@media(max-width: 768px){
								width: 160px;
							}
						}
					}
					.wtff-hands {
						@media(max-width: 768px){
							top: 81px;
							width: 50%;
						}
						@media(min-width: 768px){
							width: 50%;
						}
					}
					@media(max-width: 768px){
						top: 29%;
						left: 40%;
					}
				}
				.flexer{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin: 0 auto 80px;
					@media(max-width: 999px){
						flex-direction: column;
						margin: 0 auto 30px;
					}
					.info{
						width: 244px;
						@media(max-width: 999px){
							width: 90%;
							margin: 0 auto 25px;
						}
						.what-the-flying {
							margin-top: -90px;
							h1 {
								font-size: 60px;
								font-weight: bold;
								color: #fff;
								text-shadow: #0171ce -6px 8px, 1px -1px 0 red, 1px 2px 0 red, -1px 2px 0 red, -1px -1px 0 red;
								
								@media(max-width: 768px){
									width: 80%;
									margin-left: 100px;
									margin-top: 50px;
								}
							}
							h2 {
								@media(max-width: 768px){
									width: 80%;
									margin-left: 100px;
								}
							}
							.wtff-call {
								@media(max-width: 768px){
									margin-left: 0px !important;
								}
							}
							img {
								position: absolute;
								left: 0;
								top: 140px;
								z-index: -1;

								&.wtff-call {
									margin-left: -50px;
									position: initial;
									width: 100%;
								}
							}
						}
						h2{
							font-size: 30px;
							font-weight: bold;
							color: #fff;
							text-shadow: #FFF -6px 8px, 1px -1px 0 red, 1px 2px 0 red, -1px 2px 0 red, -1px -1px 0 red;
							@media(max-width: 999px){
								width: 244px;
							}
							small{
								color: white;
								font-size: 36px;
								line-height: 45px;
								display: block;
								text-transform: none;
								letter-spacing: 2px;
								margin-top: 10px;
							}
						}
					}
					.videoWrap{
						width: 620px;
						@media(max-width: 999px){
							width: 100%;
						}
					}
				}
				.infowtff{
					margin: 0 auto;
					width: 90%;
					max-width: 620px;
					color: white;
					font-size: 16px;
					font-family: 'Futura Std Book';
					position: relative;
					text-align: center;
					@media(max-width: 999px){
						max-width: inherit;
						width: 90%;
					}
				}
			}
			.bottomimg{
				position: absolute;
				bottom: 0;
				width: 100%;
				height: auto;
				// @media(max-width: 999px){
				// 	&:after{
				// 		content: '';
				// 		background: url('../images/bottommob.svg') no-repeat 0 0 /100%;
				// 		width: 100%;
				// 		height: 180px;
				// 		max-width: inherit;
				// 		background-size: cover;
				// 		display: block;
				// 	}
				// }
				// @media(max-width: 640px){
				// 	&:after{
				// 		content: '';
				// 		background: url('../images/bottommob.svg') no-repeat 0 0 /100%;
				// 		width: 100%;
				// 		height: auto;
				// 		max-width: inherit;
				// 		background-size: contain;
				// 		display: block;
				// 	}
				// }
				img{
					width: 100%;
					max-width: inherit;
					height: auto;
					// @media(max-width: 999px){
					// 	display: none;
					// }
				}
			}

		}
		#block-block-21{
			background: linear-gradient(0.25turn, #489BF8, #F8F075);
			padding: 100px 0;
			@media(max-width: 999px){
				background: linear-gradient(0.25turn, #489BF8, #F8F075);
			}
			.image-title{
				color: transparent;
				background: url('../images/toptitle.svg') no-repeat 0 0;
				background-size: contain;
				max-width: 340px;
				height: 62px;
				margin: 0 auto 2em;
				@media(max-width: 999px){
					background: url('../images/topmob.svg') no-repeat 0 0;
					height: 113px;
					max-width: 200px;
				}
			}
			#timeline{
				padding: 0 ;
				max-width: 1024px;
				margin: 0 auto;
				width: 90%;
				display: flex;
				flex-wrap: wrap;
				justify-content: content;
			}
			&:before {
				content: "";
				height: 120px;
				width: 120px;
				background: url('/sites/g/files/phfypu1826/f/YUM%21.png') no-repeat;
				background-size: cover;
				background-position: center 0;
				left: 50px;
				position: absolute;
				top: 64vw;
				@media(max-width: 768px){
					content: none;
				}
			}
		}
	}
	&.snick {
		background: #00AFEF; 
		.region-content{
			text-align: center;
			overflow-x: hidden;
		}
		.main-container{
			&.container{
				position: relative;
				z-index: 9;
			}
		}
		.alert-dismissible{
			display: none;
		}
		header{
			nav{
				ul{
					li{
						&.active{
							a{
								color: #feff02 !important;
							}
						}
					}
				}
			}
		}
		.lightboxsneak{
			position:fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index:9999999999999;
			background: rgba(17,90,216,.6);
			.box{
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 9999;
				max-width: 598px;
				width: 90%;
				z-index: 99;
				padding: 80px 20px 40px;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				background: #03159C;
				@media(max-width: 768px){
					top: 65%;
					padding: 30px;
				}
				img, p, a{
					display: block;
					margin: 0 auto;
				}
				img{
					width: 343px;
					height: 244px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: -150px;
					@media(max-width: 768px){
						width: 223px;
						height: auto;
						top: -110px;
						object-fit: contain;
					}
				}
				p{
					color: white;
					font-family: Futura Std Bold;
					font-size: 20px;
					margin: 20px 0;
					@media(max-width: 768px){
						font-size: 16px;
						line-height: 20px;
					}
				}
				a{
					display: inline-block;
					background: #115AD8;
					height: 42px;
					line-height: 42px;
					color: white;
					font-size: 16px;
					font-family: Futura Std Bold;
					padding: 0 50px;
					text-decoration: none !important;
					@media(max-width: 768px){
						padding: 0;
						width: 100%;
						display: block;
					}
				}
			}

		}
		.snickerwrap{
			background: #115AD8 url('../images/pattcrazy.png') repeat 0 0;
			padding: 160px 0 60px;
			position: relative;
			overflow: hidden;
			@media(max-width: 999px){
				padding: 160px 0 60px;
			}
			.wider{
				// max-width: 1048px;
				margin: 0 auto;
				width:  100%;
				.title{
					@media(max-width: 999px){
						width: 90%;
						margin: 0 auto;
					}
					h1, p{
						display: block;
						margin: 0;
						width:  100%;
						text-align: center;
					}
					h1{
						font-family: 'Futura Std Condensed Bold';
						color: #feff02;
						font-size:  72px;
						text-transform: uppercase;
						@media(max-width: 768px){
							font-size: 44px;
							line-height: normal;
						}
					}
					p{
						margin: 15px auto 20px;
						font-family: Futura Std Book;
						font-size:  16px;
						max-width: 620px;
						text-align: center;
						color: white;
						&:before{
							background: url('../images/yellowV.png') no-repeat 0 0 /100%;
							height: 98px;
							width: 105px;
							right: -20%;
							transform: translateY(-50%);
							z-index: 999;
							top: 50%;
							object-fit: contain;
						}
					}
				}
				.blocksnicker{
					position: relative;
					&:after{
						background: url('../images/Vectorgreen.png') no-repeat 0 0 /100%;
						bottom: 0;
						left: 0;
						height: 98px;
						width: 105px;
						position: absolute;
						content: '';
						object-fit: contain;
					}
				}
				.snickers{
					button{
						&.slick-arrow{
							height: 40px;
							width: 70px;
							top:50%;
							transform: translateY(-50%);
							z-index: 9999999;
							&.slick-prev{
								background: url('../images/vectprev.svg') no-repeat 0 0;
								background-size: contain;
								left:50%;
								transform: translate(-760%,-50%);
								@media(max-width:768px){
									transform: translateY(-50%);
									left: 2%;
								}
							}
							&.slick-next{
								background: url('../images/vectnext.svg') no-repeat 0 0;
								background-size: contain;
								right: 50%; 
								transform: translate(860%,-50%);
								@media(max-width:768px){
									transform: translateY(-50%);
									right: 2%;
								}
							}
						}
					}
					.slick-list{
						.slider-block{
							padding: 30px 0;
							@media(max-width: 768px){
								padding-top: 50px;
							}
							.flexing{
								display: flex;
								width: 100%;
								justify-content: center;
								align-items: center;
								margin-bottom: 70px;
								@media(max-width: 768px){
									margin-bottom: 10px;
								}
								h2{
									font-family: Futura Std Condensed Bold;
									font-size: 62px;
									color: #feff02;
									text-align: left;
									line-height: 55px;
									letter-spacing: -2px;
									text-transform: uppercase;
									width: 214px;
									display: block;
									margin-right: -55px;
									@media(max-width: 768px){
										font-size: 42px;
										line-height: 37px;
										width: 134px;
										margin-right: -85px;
									}
									small{
										color: #fff;
										font-size: 36px;
										line-height: 45px;
										display: block;
										text-transform: none;
										letter-spacing: 2px;
										// margin-top: 10px;
										@media(max-width: 768px){
											font-size: 24px;
											line-height: 24px;
										}
									}
								}
								img{
									width: 440px;
									height: 280px;
									display: block;
									margin: 0;
									transform: rotate(-15deg);
									display: block;
									object-fit: contain;
									margin-top: -50px;
									@media(max-width: 768px){
										width: 170px;
										height: auto;
										margin-top: -155px;
									}
								}
							}
							a{
								display: block;
								margin: 15px auto 0;
								height: 48px;
								border: 2px solid white;
								width: 290px;
								position: relative;
								-webkit-appearance: none;
								line-height: 48px;
								font-family: Futura Std Bold;
								color: white;
								font-size: 18px;
								text-align: center;
								background:none;
								text-decoration: none !important;
								transition:.5s;
								@media(max-width: 768px){
									font-size: 16px;
								}
								&:focus{
									outline: 0;
									border: none;
								}
								&:hover{
									background: #00AFEF;
									border-color: #00AFEF;
								}
							}
						}
					}
				}
			}
			.bottomimg{
				position: absolute;
				bottom: -4px;
				width: 100%;
				height: auto;
				// @media(max-width: 999px){
				// 	&:after{
				// 		content: '';
				// 		background: url('../images/Vectorblue.png') no-repeat 0 0;
				// 		width: 100%;
				// 		height: 180px;
				// 		max-width: inherit;
				// 		background-size: cover;
				// 		display: block;
				// 	}
				// }
				&:before{
					background: url('../images/vecty.png') no-repeat 0 0 /100%;
					height: 109px;
					width: 95px;
					left: 50%;
					transform: translateX(360%);
					z-index: 999;
					content: '';
					object-fit: contain;
					position: absolute;
					display: block;
					top: -30px;
				}
				img{
					width: 100%;
					max-width: inherit;
					height: auto;
					// @media(max-width: 999px){
					// 	display: none;
					// }
				}
			}
		}
		#block-system-main{
			margin-bottom: 100px;
			@media(max-width: 999px){
				margin-bottom: 40px;
			}
		}
		#block-block-31, #block-webform-client-block-71{
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			padding-bottom: 30px;
		}
		#block-block-31{
			width: 480px;
			vertical-align: top;
			@media(max-width: 999px){
				width: 100%;
			}
			.formingside-snickers{
				text-align: center;
				.box{
					position: relative;
					&:after{
						background: url('../images/greenVect.png') no-repeat 0 0 /100%;
						height: 98px;
						width: 105px;
						position: absolute;
						left: 40px;
						bottom: 50px;
						z-index: 0;
						content:'';
						object-fit: contain;
					}
				}
				h2{
					font-family: Futura Std Condensed Bold;
					font-size: 62px;
					color: #feff02;
					text-align: left;
					line-height: 55px;
					display: block;
					margin-bottom:  20px;
					text-align: center;
					width: 100%;
					position: relative;
					z-index: 99;
					@media(max-width: 768px){
						font-size: 45px;
						line-height: normal
					}
				}
				.contentnicker{
					width: 350px;
					height: 350px;
					border-radius:8px;
					background: #115AD8;
					position: relative;
					margin: 0 auto;
					z-index: 99;
					@media(max-width: 640px){
						width: 214px;
						height: 214px;
					}
					figure{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						width: 480px;
						height: auto;
						z-index: 4;
						display: none;
						@media(max-width: 999px){
							max-width: 480px;
							width: 140%;
							height: auto;
						}
						&.backker{
							display: block;
							top: 50%;
							max-width: 430px;
						}
						.reflect{
							position: absolute;
							bottom: 19px;
							left: 60px;
							height: auto;
							width: 140px;
							transform: rotate(2deg);
							font-size: 48px;
							z-index: 9999;
							width: 100%;
							color: #00b928 !important;
							text-align: left;
							font-family: 'ITCBerrangerHandW01-Rg';
							@media(max-width: 640px){
								font-size: 18px;
								bottom: 18px;
							}
						}
						img{
							position: relative;
							width: 100%;
							object-fit: contain;
						}
					} 
				}
				p, input, span{
					display: block;
				}
				p, span{
					text-align: center;
					color: #fff;
				}
				p{
					
				    font-size: 24px;
				    display: block;
				    text-transform: none;
				    letter-spacing: 2px;
				    font-family: 'Futura Std Condensed Bold';
				    position: relative;
				    z-index: 999;
				}
				span{
					font-size:  16px;
					font-family: 'Futura Std Book';
					small{
						font-size: 16px;
						display: block;
						text-align: center;
						margin: 5px 0 0;
						color: #115ad8;
					}
					&#caracter{
						small{
							display: none;
						}
						&.sho{
							small{
								display: block;
							}
						}
					}
					&#choosenick{
						display: none;
						margin: 10px auto;
						color: #115ad8;
						font-size: 16px;
						&.shor{
							display: block;
						}
					}
				}
				input{
					width: 260px;
					margin: 5px auto;
					background: white;
					border: 1px solid #115AD8;
					height: 40px;
					font-size:  16px;
					font-family: 'Futura Std Book';
					color: #211C1C;
					text-indent:  10px;
					&::-webkit-input-placeholder{
						font-size:  16px;
						font-family: 'Futura Std Book';
						color: #211C1C;
					}
					&:-ms-input-placeholder{
						font-size:  16px;
						font-family: 'Futura Std Book';
						color: #211C1C;
					}
					&::placeholder{
						font-size:  16px;
						font-family: 'Futura Std Book';
						color: #211C1C;
					}

				}
			}
		}
		#block-webform-client-block-71{
			width: 586px;
			margin: 0 0 120px 130px;
			@media(max-width: 999px){
				margin: 0 auto;
				max-width: 586px;
				width: 100%;
			}
			.block-title{
				display: none;
			}
			form{
				&.webform-client-form{
					margin: 0;
					@media(max-width: 999px){
						margin: 0 auto;
					}
					.webform-component-checkboxes{
						width: 100% !important;
						margin-top: 20px;
						.form-item{
							width: 100%;
							label{
								color: #115AD8;
								font-family: 'Futura Std Book';
								font-size: 16px;
								a{
									color: #115AD8;
									font-family: 'Futura Std Bold';
									font-size: 16px;
								}
							}
						}
						&.webform-component--TermsConditions{
							margin: 0 auto -20px !important;
							.form-item{
								margin: 0 !important;
							}
						}
					}
					.webform-component--sub-title{
						display: none;
					}
					.webform-component--sneakername, .webform-component-radios{
						display: none;
					}
					// .webform-container-inline{
					// 	.form-item{
					// 		display: flex;
					// 		flex-direction: column-reverse;
					// 	}
					// }
					.webform-component--gender{
						&:before{
							content: 'Gender *';
							display: block;
							width: 100%;
							text-align: left;
							color: #115AD8;
							font-family: 'Futura Std Bold';
							font-size: 16px;
						}
					}
					.webform-component--birthday{
						&:before{
							content: 'Day of Birth *';
							display: block;
							width: 100%;
							text-align: left;
							color: #115AD8;
							font-family: 'Futura Std Bold';
							font-size: 16px;
						}
						.webform-datepicker{
							.form-item{
								width: 32%;
								select{
									width: 100%;
									max-width: inherit;
									min-width: inherit;
									display: block;
								}
							}
						}
					}
					.form-item{
						// margin: 0;
						width: 48%;
						vertical-align: top;
						@media(max-width: 999px){
							margin: 0 auto 15px !important;
							width: 100%;
						}
						label{
							.element-invisible{
								position: relative
							}
							display: block;
							width: 100%;
							text-align: left;
							color: #115AD8;
							font-family: 'Futura Std Bold';
							font-size: 16px;
							&.error{
								font-size: 16px;
								font-family: 'Futura Std Book';
								position: relative;
							}
						}
						input, select{
							border: 1px solid #115AD8;
							color: #211C1C;
							font-size: 16px;
							border-radius: 0;
						}
						&.webform-component-textfield{
							// margin: 0;
							width: 48%;
							@media(max-width: 999px){
								margin: 0 auto;
								width: 100%;
							}
						}
						&.webform-component--province, &.webform-component--address{
							margin: 0 4% 2.1rem 0;
							@media(max-width: 999px){
								margin: 0 auto 15px;
								width: 100%;
							}
						}
						&.webform-component--town{
							margin: 0;
						}
						&.webform-component--address, &.webform-component--shoesize{
							width: 48%;
							display: inline-block;
							@media(max-width: 999px){
								margin: 0 auto;
								width: 100%;
							}
						}
						&.webform-component--birthday{
							.webform-datepicker{
								.form-item{
									margin-bottom: 0 !important;
								}
							}
						}
					}

					.form-actions{
						button{
							display: block;
							width: 100%;
							background: #115AD8;
							color:white;
							border-radius: 0;
						}
					}
				}
			}
		}	
	}
}

