body {
	&.custom-flying-fish-register-events {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: inherit;
		@include mq('md'){
			background-size: 116vw;
		}
		.main-container {
			overflow: inherit;
			// padding: rem(560px) rem(20px) rem(32px);
			// @include mq('md') {
			// 	padding: rem(850px) 0 rem(32px);
			// }
			// @include mq('hd') {
			// 	padding: 108vh 0 rem(32px);
			// }
			section {
				// Hero banner 
				&#block-system-main {
					position: relative;
					@include cont;
					article {
						&.node-webform {
							color: $blue;
							header {
								display: none;
							}
						}
					}
				}
			}
		}
		.alert-block.alert-dismissible{
			display: none;
		}
	}
	&.register-successful{
		form {
			&.webform-client-form {
				min-height: 300px;
				text-align: center;
				&::after{
					top: 17em;
				}
				@include mq('md'){
					min-height: 400px;
					width: 54%;
					&::after{
						top: 0;
					}
				}
				h2 + p{
					@include font(21px);
					margin-top: 2.4em;
					@include mq('md'){
						@include font(26px);
						margin-top: 3.5em;
					}
				}
				a{
					font-family: $bd;
					color: $blue20;
					text-decoration: underline;
				}
			}
		}
	}
	&.node-type-new-registration-page {
		.main-container {
			background-image: url('../images/animation/Background image Homepage header@2x.jpg');
		}
	}
}