
.store-locator {
  background-size: contain;
  .container{
      overflow: inherit;
  }
  .main-container{
      max-width: inherit;
      margin-top: 10em;
      @include mq('md'){
        margin-top: 24em;
      }
      .field-type-text-with-summary{
          background: $white;
          position: relative;
          padding-bottom: rem(90px);
          &::before{
                content: '';
                width: 100%;
                height: 42px;
                background: url('../images/misc/store-locator-border.png') no-repeat;
                background-size: cover;
                background-position: center 10px;
                left: 0;
                top: -28px;
                position: absolute;
                @include mq('md'){
                    top: -14%;
                    height: 160px;
                }
          }
      }
  } 
  .store{
    background: $white; 
    margin-top: 4em;
    position: relative;
    &::after,
    &::before{
        content: '';
        width: 80px;
        height: 95px;
        background: url('../images/misc/yellow-shape-border.png') no-repeat;
        background-size: contain;
        position: absolute;
        left: 6%;
        top: -13%;
        @include mq('md'){
            width: 123px;
            height: 123px;
            left: 21%;
            top: -32%;
        }
    }
    &::after{
        background: url('../images/misc/green-shape-border.png') no-repeat;
        background-size: cover;
        width: 84px;
        height: 111px;
        left: inherit;
        top: -17%;
        right: 0;
        @include mq('md'){
            width: 123px;
            height: 111px;
            top: -32%;
            right: 24%;
        }
    }
 }
 
}
.store-locator .store h2 {
    font-family: Futura STD BOLD;
    font-size: 28px;
    text-align: center;
    // padding-top:100px;
    margin: 15px auto;
    color: $blue20; 
}
@media (max-width: 480px) {
    .store-locator .store h2 {
        margin: 35px auto 15px;
        font-size: 15px; 
    } 
}
.store-locator .store .sub {
    text-align: center;
    margin: 21px auto 40px;
    font-family: $book;
    color: white;
    font-size: 26px;
    color: $blue20; 
    max-width: 768px;
}
    @media (max-width: 480px) {
        .store-locator .store .sub {
            font-size: 15px;
            margin: 14px auto 35px;
        } 
    }
.store-locator .selectric     {
    background: white;
    border: 1px solid #cccccc;
    color: #555;
} 

.store-locator .selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 15px;
    line-height: 38px;
    color: #555;
    height: 38px;}
    .store-locator .selectric option{
        background: white;
        color: #555;

    }
    .store-locator .selectric-items{
        background:white;
        color:#555;
    }
    .store-locator .selectric-items li,
    .store-locator .selectric-items li.highlighted {
        background:white;
        color: #555;
    }

    .store-locator .selectric-items li.highlighted {
        background: #1aaadd !important;
        color: #FFF !important;
    }
    .store-locator .mapa{
            margin: 30px auto 0;
            max-width: 1280px;
    }
@media (min-width: 1281px) {
    .store-locator-headline h2 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 1280px;
        margin: 15px auto;
        color: #337ab7;
        position: absolute;
        height: 180px;
        z-index: 50;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 10%;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        color: #fff;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
    }
    .page-stockist-locator .view-stockist-locator .view-filters {
        background: rgba(34, 29, 25, 0.7);
        display: block;
        line-height: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 20px 20px 9px;
        position: absolute;
        top: 130px;
        max-width: 1280px;
        height: 180px;
        z-index: 50;
        overflow: hidden;
        top: 15%;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }
    .box-content h3 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 1280px;
        margin: 15px auto;
        color: #337ab7;
    }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    //CSS
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //CSS
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .store-locator-headline h2 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 720px;
        margin: 15px auto;
        color: #337ab7;
        position: absolute;
        height: 180px;
        z-index: 50;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 14%;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        color: #fff;
        font-size: 31px;
        text-align: center;
        text-transform: uppercase;
        /* font-size: 1.125rem;*/
    }
    .box-content h3 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 1280px;
        margin: 0px auto;
        color: #337ab7;
    }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .store-locator-headline h2 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 720px;
        margin: 15px auto;
        color: #337ab7;
        position: absolute;
        height: 180px;
        z-index: 50;
        overflow: hidden;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 14%;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
        color: #fff;
        font-size: 31px;
        text-align: center;
        text-transform: uppercase;
        /* font-size: 1.125rem;*/
    }
    .box-content h3 {
        box-sizing: border-box;
        word-wrap: break-word;
        max-width: 1280px;
        margin: 0px auto;
        color: #337ab7;
    }
}
#map {
    width: 100%;
    height: 400px;
}
.filters.row {
    width: 100%;
    // margin: 20px 0 0 0;
}
.filters.row{
    text-align: center;
    max-width: 560px;
    margin: auto !important;

    .col {
        width: 50% !important;
        float: left;
        padding: 20px;
    }
} 
@media (min-width: 320px) and (max-width: 480px) {
    .filters.row .col {
        // width: 100%;
        // float: none;
        padding: 0 20px 10px 20px;
    }
}
.gm-style-iw-d {
    overflow: hidden !important;
}
.gm-style-iw.gm-style-iw-c {
    width: 280px;
    height: 280px;
}
/*======================================
  Selectric
======================================*/

.selectric-wrapper {
    position: relative;
    cursor: pointer;
}
.selectric-responsive {
    width: 100%;
}
.selectric {
    border-radius: 6px;
    background: #00A1D9;
    position: relative;
}
.selectric .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 38px 0 10px;
    font-size: 12px;
    line-height: 38px;
    color: #FFF;
    height: 38px;
}
.selectric .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    color: #FFF;
    text-align: center;
    font: 0/0 a;
    *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric .button:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #FFF;
    border-bottom: none;
}
.selectric-focus .selectric {
    background: #007ba6;
}
.selectric-hover .selectric {
    background: #008ec0;
}
.selectric-hover .selectric .button {
    color: #e6e6e6;
}
.selectric-hover .selectric .button:after {
    border-top-color: #e6e6e6;
}
.selectric-open {
    z-index: 9999;
}
.selectric-open .selectric-items {
    display: block;
}
.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;
}
.selectric-hide-select select {
    position: absolute;
    left: -100%;
}
.selectric-hide-select.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
}
.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}
.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}
/* Items box */

.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #00A1D9;
    border: 1px solid #c4c4c4;
    z-index: -1;
    box-shadow: 0 0 10px -6px;
}
.selectric-items .selectric-scroll {
    height: 100%;
    overflow: auto;
}
.selectric-above .selectric-items {
    top: auto;
    bottom: 100%;
}
.selectric-items ul, .selectric-items li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
}
.selectric-items li {
    display: block;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
}
.selectric-items li.selected {
    background: #33b4e1;
    color: #FFF;
}
.selectric-items li.highlighted {
    background: #1aaadd;
    color: #FFF;
}
.selectric-items li:hover {
    background: #4dbde4;
    color: #FFF;
}
.selectric-items .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #FFF !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
    font-weight: bold;
    padding-left: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: none;
    color: #FFF;
}
.selectric-items .selectric-group.disabled li {
    filter: alpha(opacity=100);
    opacity: 1;
}
.selectric-items .selectric-group li {
    padding-left: 24px;
}